Repository woowacourse-teams/2022-f12, pull requests merged in 2022-10, with the labels that each got.

#689 [Feature/BE] 각 도메인 테이블에 unique 제약 조건을 추가한다
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/members.adoc
  backend/src/docs/asciidoc/reviews.adoc
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProduct.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Following.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/domain/product/Product.java
  backend/src/main/java/com/woowacourse/f12/domain/review/Review.java
  backend/src/main/java/com/woowacourse/f12/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/FollowingRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring

#699 [Feature/be] 인증 인가 수정
  backend/src/main/java/com/woowacourse/f12/application/auth/AuthService.java
  backend/src/main/java/com/woowacourse/f12/application/auth/token/InmemoryRefreshTokenRepository.java
  backend/src/main/java/com/woowacourse/f12/application/auth/token/JwtProvider.java
  backend/src/main/java/com/woowacourse/f12/application/auth/token/MemberPayload.java
  backend/src/main/java/com/woowacourse/f12/application/auth/token/RefreshToken.java
  backend/src/main/java/com/woowacourse/f12/application/auth/token/RefreshTokenProvider.java
  backend/src/main/java/com/woowacourse/f12/application/auth/token/RefreshTokenRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Role.java
  backend/src/main/java/com/woowacourse/f12/dto/response/auth/IssuedTokensResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthArgumentResolver.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthInterceptor.java
  backend/src/main/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductController.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/MemberController.java
  backend/src/main/java/com/woowacourse/f12/presentation/review/ReviewController.java
  backend/src/main/java/com/woowacourse/f12/support/MemberPayloadSupport.java
  backend/src/test/java/com/woowacourse/f12/application/auth/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/JwtProviderTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/token/FakeJwtProvider.java
  backend/src/test/java/com/woowacourse/f12/application/auth/token/InmemoryRefreshTokenRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/token/JwtProviderTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/token/RefreshTokenProviderTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/token/RefreshTokenTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/PresentationTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, :key: auth

#707 [BugFix/BE] UniqueConstraint 어노테이션 import
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend

#696 [Bugfix/BE] local 환경에서 Repository 테스트시 쿼리 로그가 2번 남는 현상 해결
  backend/src/main/resources/application.yml
  backend/src/main/resources/log4j2/log4j2-local.xml
  backend/src/test/java/com/woowacourse/f12/domain/RepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/FollowingRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend, 👁 log

#710 [Feature/BE] 어드민 API 구현
  backend/src/docs/asciidoc/products.adoc
  backend/src/main/java/com/woowacourse/f12/application/product/ProductService.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/product/Product.java
  backend/src/main/java/com/woowacourse/f12/domain/review/Review.java
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepository.java
  backend/src/main/java/com/woowacourse/f12/dto/request/product/ProductCreateRequest.java
  backend/src/main/java/com/woowacourse/f12/dto/request/product/ProductUpdateRequest.java
  backend/src/main/java/com/woowacourse/f12/exception/forbidden/ForbiddenException.java
  backend/src/main/java/com/woowacourse/f12/exception/forbidden/NotAdminException.java
  backend/src/main/java/com/woowacourse/f12/exception/forbidden/NotAuthorException.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthInterceptor.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/Login.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/ProductController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/FakeGitHubApiController.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/AcceptanceFixture.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/GitHubProfileFixture.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/MemberFixture.java
Labels: :desktop_computer: backend, :white_check_mark: feature-done

#712 [BugFix/BE] 제품 수정, 삭제 API DTO 카테고리 enum을 DTO용 Constant로 수정
  backend/src/main/java/com/woowacourse/f12/dto/request/product/ProductCreateRequest.java
  backend/src/main/java/com/woowacourse/f12/dto/request/product/ProductUpdateRequest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend

#713 [BugFix/BE] 제품 수정, 삭제 API DTO 카테고리 enum을 DTO용 Constant로 수정
  backend/src/main/java/com/woowacourse/f12/dto/request/product/ProductCreateRequest.java
  backend/src/main/java/com/woowacourse/f12/dto/request/product/ProductUpdateRequest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend

#716 [BE] 어드민 로그인 api 구현
  backend/src/docs/asciidoc/auth.adoc
  backend/src/main/java/com/woowacourse/f12/application/auth/AuthService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/dto/response/auth/AdminLoginResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthController.java
  backend/src/test/java/com/woowacourse/f12/application/auth/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, :key: auth

#717 [Feature/BE] 어드민 로그인 api 구현
  backend/src/docs/asciidoc/auth.adoc
  backend/src/main/java/com/woowacourse/f12/application/auth/AuthService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/dto/response/auth/AdminLoginResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthController.java
  backend/src/test/java/com/woowacourse/f12/application/auth/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthControllerTest.java
Labels: :desktop_computer: backend, :white_check_mark: feature-done, :key: auth

#722 [Bug-fix/FE] dev 환경 github client id 변경
  frontend/webpack.dev.js
Labels: :wrench: fix_issue, :computer: frontend, :key: auth

#723 [Bug-fix/FE] dev 환경 github client id 변경
  frontend/webpack.dev.js
Labels: :wrench: fix_issue, :computer: frontend, :key: auth

#725 [Bug-fix/FE] dev 환경 github client id 변경
  frontend/webpack.dev.js
  frontend/webpack.test.js
Labels: :wrench: fix_issue, :computer: frontend, :key: auth

#726 [Bug-fix/FE] dev 환경 github client id 변경
  frontend/webpack.dev.js
  frontend/webpack.test.js
Labels: :wrench: fix_issue, :computer: frontend, :key: auth

#729 [FE] 프로필 페이지, 팔로잉, 프로필 검색 반응형 디자인을 적용
  frontend/src/components/DeskSetup/DeskSetup.style.tsx
  frontend/src/components/DeskSetup/DeskSetup.tsx
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.style.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.style.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.style.tsx
  frontend/src/components/common/Modal/Modal.style.tsx
  frontend/src/components/common/SearchBar/SearchBar.style.tsx
  frontend/src/mocks/data.ts
  frontend/src/pages/Profile/Profile.style.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.style.tsx
  frontend/src/pages/common/PageLayout/PageLayout.style.tsx
Labels: :computer: frontend, 📱responsive_web

#737 [BE] 인기 제품 조회 API 구현
  backend/src/docs/asciidoc/products.adoc
  backend/src/main/java/com/woowacourse/f12/application/product/FindPopularProductCallback.java
  backend/src/main/java/com/woowacourse/f12/application/product/PopularProductCriteriaDefinition.java
  backend/src/main/java/com/woowacourse/f12/application/product/PopularProductCriteriaDefinitionImpl.java
  backend/src/main/java/com/woowacourse/f12/application/product/PopularProductStrategy.java
  backend/src/main/java/com/woowacourse/f12/application/product/ProductService.java
  backend/src/main/java/com/woowacourse/f12/application/product/ShufflingPopularProductStrategy.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepositoryCustom.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/dto/response/PopularProductsResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/ProductController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/FakeFindPopularProductCallback.java
  backend/src/test/java/com/woowacourse/f12/application/product/PopularProductStrategyTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, :package: product

#740 [FE] 반응형 디자인을 구현한다.
  frontend/src/assets/HeaderLogo.svg
  frontend/src/assets/HeaderLogoHorizontal.svg
  frontend/src/assets/logo.svg
  frontend/src/components/DeskSetup/DeskSetup.style.tsx
  frontend/src/components/DeskSetup/DeskSetup.tsx
  frontend/src/components/Product/ProductCard/ProductCard.style.tsx
  frontend/src/components/Product/ProductCard/ProductCard.tsx
  frontend/src/components/Product/ProductListSection/ProductListSection.style.tsx
  frontend/src/components/Product/ProductListSection/ProductListSection.tsx
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.style.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.style.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.style.tsx
  frontend/src/components/Review/ReviewBottomSheet/ReviewBottomSheet.style.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/Review/ReviewListSection/ReviewListSection.style.tsx
  frontend/src/components/common/BarGraph/BarGraph.style.tsx
  frontend/src/components/common/BottomNavigation/BottomNavigation.style.tsx
  frontend/src/components/common/BottomNavigation/BottomNavigation.tsx
  frontend/src/components/common/BottomSheet/BottomSheet.style.tsx
  frontend/src/components/common/FloatingButton/FloatingButton.style.tsx
  frontend/src/components/common/HeaderLogo/HeaderLogo.style.tsx
  frontend/src/components/common/HeaderLogo/HeaderLogo.tsx
  frontend/src/components/common/Masonry/Masonry.style.tsx
  frontend/src/components/common/Modal/Modal.style.tsx
  frontend/src/components/common/Rating/Rating.style.tsx
  frontend/src/components/common/RatingInput/RatingInput.style.tsx
  frontend/src/components/common/SearchBar/SearchBar.style.tsx
  frontend/src/components/common/SectionHeader/SectionHeader.style.tsx
  frontend/src/components/common/UserNameTag/UserNameTag.style.tsx
  frontend/src/contexts/DeviceContextProvider.tsx
  frontend/src/hooks/useDevice.tsx
  frontend/src/index.tsx
  frontend/src/mocks/data.ts
  frontend/src/pages/Home/Home.style.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Product/Product.style.tsx
  frontend/src/pages/Product/Product.tsx
  frontend/src/pages/Profile/Profile.style.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.style.tsx
  frontend/src/pages/common/PageLayout/PageLayout.style.tsx
  frontend/src/pages/common/PageLayout/PageLayout.tsx
  frontend/src/style/GlobalStyles.tsx
  frontend/src/style/theme.ts
  frontend/src/types/custom.d.ts
  frontend/src/types/styled.d.ts
Labels: :computer: frontend, 📱responsive_web

#742 [Bugfix/FE] 누락된 오류 코드와 메시지 추가
  frontend/src/constants/messages.ts
Labels: :wrench: fix_issue, :computer: frontend

#733 [Feature/BE] Objects 의 null 체크 메서드를 제거
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/application/product/ProductService.java
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/logging/ApiQueryInspector.java
  backend/src/main/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolver.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthArgumentResolver.java
  backend/src/main/java/com/woowacourse/f12/support/AuthTokenExtractor.java
  backend/src/main/java/com/woowacourse/f12/support/RepositorySupport.java
  backend/src/test/java/com/woowacourse/f12/support/FakeGitHubApiController.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring

#746 [BE] 인메모리 저장소 대신 DB에 저장하도록 변경
  backend/src/main/java/com/woowacourse/f12/application/auth/token/InmemoryRefreshTokenRepository.java
  backend/src/main/java/com/woowacourse/f12/application/auth/token/RefreshToken.java
  backend/src/main/java/com/woowacourse/f12/application/auth/token/RefreshTokenRepositoryImpl.java
  backend/src/test/java/com/woowacourse/f12/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/token/InmemoryRefreshTokenRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/token/RefreshTokenRepositoryImplTest.java
  backend/src/test/resources/refreshTokenDDL.sql
Labels: :desktop_computer: backend, :key: auth

#752 [FE] 모바일 환경의 반응형 디자인을 개선
  frontend/src/assets/prevSign.svg
  frontend/src/components/DeskSetup/DeskSetup.style.tsx
  frontend/src/components/DeskSetup/DeskSetup.tsx
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.tsx
  frontend/src/components/common/BottomNavigation/BottomNavigation.style.tsx
  frontend/src/components/common/BottomNavigation/BottomNavigation.tsx
  frontend/src/components/common/SearchFilter/SearchFilter.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/common/PageLayout/PageLayout.style.tsx
  frontend/src/types/image.d.ts
Labels: :computer: frontend, 📱responsive_web

#750 [BugFix/BE] 액세스 토큰 요청 시 에러코드를 수정하고 에러코드 방식을 수정한다.
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/inventoryProducts.adoc
  backend/src/docs/asciidoc/members.adoc
  backend/src/docs/asciidoc/products.adoc
  backend/src/docs/asciidoc/reviews.adoc
  backend/src/main/java/com/woowacourse/f12/application/auth/AuthService.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/RefreshTokenInvalidException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/RefreshTokenNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/test/java/com/woowacourse/f12/application/auth/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/ErrorCodeSnippet.java
  backend/src/test/resources/org/springframework/restdocs/templates/asciidoctor/error-code-table.snippet
Labels: :newspaper: documentation, :wrench: fix_issue, :desktop_computer: backend

#753 [Feature/FE] 모바일 환경의 반응형 디자인 개선
  frontend/src/assets/prevSign.svg
  frontend/src/components/DeskSetup/DeskSetup.style.tsx
  frontend/src/components/DeskSetup/DeskSetup.tsx
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.tsx
  frontend/src/components/common/BottomNavigation/BottomNavigation.style.tsx
  frontend/src/components/common/BottomNavigation/BottomNavigation.tsx
  frontend/src/components/common/SearchFilter/SearchFilter.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/common/PageLayout/PageLayout.style.tsx
  frontend/src/types/image.d.ts
Labels: :computer: frontend, 📱responsive_web

#760 [Feature/FE] 모바일 하단바 디자인 및 구성 변경
  frontend/src/assets/profile.svg
  frontend/src/components/Profile/UserInfo/UserInfo.style.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.tsx
  frontend/src/components/common/BottomNavigation/BottomNavigation.style.tsx
  frontend/src/components/common/BottomNavigation/BottomNavigation.tsx
  frontend/src/components/common/HeaderLogo/HeaderLogo.style.tsx
  frontend/src/components/common/HeaderLogo/HeaderLogo.tsx
  frontend/src/pages/common/PageLayout/PageLayout.tsx
Labels: :computer: frontend, 📱responsive_web

#761 [BugFix/BE] 액세스 토큰 발급 시 read only 커넥션 500 에러 수정
  backend/src/main/java/com/woowacourse/f12/application/auth/AuthService.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :key: auth

#764 [FE] 제품 카드를 클릭했을 때 새로운 탭에서 링크가 열리도록 설정
  frontend/src/components/Product/ProductListSection/ProductListSection.tsx
Labels: :computer: frontend, :iphone: ui

#772 [BugFix/FE] 사파리 브라우저에서 좌우측 프로필 카드 버튼이 동일하게 렌더링되는 문제를 수정
  frontend/src/assets/left_arrow.svg
  frontend/src/assets/nextSign.svg
  frontend/src/assets/right_arrow.svg
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
Labels: :wrench: fix_issue, :computer: frontend

#776 [FE] 제품 탐색 및 검색 로직에 접근성 구현
  frontend/cypress/e2e/spec.cy.ts
  frontend/cypress/support/commands.ts
  frontend/src/components/Product/ProductCard/ProductCard.style.tsx
  frontend/src/components/Product/ProductCard/ProductCard.tsx
  frontend/src/components/Product/ProductListSection/ProductListSection.style.tsx
  frontend/src/components/Product/ProductListSection/ProductListSection.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.tsx
  frontend/src/components/common/HeaderLogo/HeaderLogo.tsx
  frontend/src/components/common/InfiniteScroll/InfiniteScroll.tsx
  frontend/src/components/common/LazyImage/LazyImage.tsx
  frontend/src/components/common/Rating/Rating.tsx
  frontend/src/components/common/ReviewCount/ReviewCount.tsx
  frontend/src/components/common/SearchBar/SearchBar.style.tsx
  frontend/src/components/common/SearchBar/SearchBar.tsx
  frontend/src/components/common/SearchFilter/SearchFilter.tsx
  frontend/src/components/common/SectionHeader/SectionHeader.style.tsx
  frontend/src/components/common/Select/Select.tsx
  frontend/src/pages/Products/Products.style.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/style/GlobalStyles.tsx
  frontend/src/style/ResetCss.tsx
Labels: :computer: frontend, 🔊 a11y

#777 [FE] 상하단 메뉴바 접근성 개선
  frontend/src/components/common/BottomNavigation/BottomNavigation.style.tsx
  frontend/src/components/common/BottomNavigation/BottomNavigation.tsx
  frontend/src/components/common/HeaderLogo/HeaderLogo.style.tsx
  frontend/src/components/common/HeaderLogo/HeaderLogo.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.style.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/pages/common/PageLayout/PageLayout.tsx
Labels: :computer: frontend, 🔊 a11y

#781 무한 스크롤 로딩정보 관련 메시지 추가
  frontend/src/hooks/api/useGetMany.tsx
  frontend/src/hooks/useSearch.tsx
  frontend/src/pages/Products/Products.tsx
Labels: :computer: frontend, 🔊 a11y

#783 [FE] 제품 목록 불러오기 실패나 항목 없을 때 스크린 리더 alert 추가
  frontend/src/components/common/ErrorPlaceholder/ErrorPlaceholder.tsx
  frontend/src/components/common/NoDataPlaceholder/NoDataPlaceholder.tsx
Labels: :computer: frontend, 🔊 a11y

#784 [BE] 리뷰 작성 시 제품 통계 정보의 정합성을 맞추도록 수정
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/review/Review.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewTest.java
Labels: :hammer: feature, :desktop_computer: backend, :package: product

#789 [BE] 데이터 정합성을 맞추는 스케줄러 작성
  backend/src/main/java/com/woowacourse/f12/application/batch/BatchService.java
  backend/src/main/java/com/woowacourse/f12/application/batch/FollowerCountBatchScheduler.java
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/config/SchedulerConfig.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepository.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
Labels: :hammer: feature, :desktop_computer: backend, 🧑‍💻member

#788 [Feature/FE] 웹 접근성을 개선.
  frontend/cypress/e2e/spec.cy.ts
  frontend/cypress/support/commands.ts
  frontend/src/components/Product/ProductCard/ProductCard.style.tsx
  frontend/src/components/Product/ProductCard/ProductCard.tsx
  frontend/src/components/Product/ProductDetail/ProductDetail.style.tsx
  frontend/src/components/Product/ProductDetail/ProductDetail.tsx
  frontend/src/components/Product/ProductListSection/ProductListSection.style.tsx
  frontend/src/components/Product/ProductListSection/ProductListSection.tsx
  frontend/src/components/Review/ReviewBottomSheet/ReviewBottomSheet.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.tsx
  frontend/src/components/Review/ReviewForm/ReviewForm.tsx
  frontend/src/components/Review/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/BarGraph/BarGraph.tsx
  frontend/src/components/common/BottomNavigation/BottomNavigation.style.tsx
  frontend/src/components/common/BottomNavigation/BottomNavigation.tsx
  frontend/src/components/common/BottomSheet/BottomSheet.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.tsx
  frontend/src/components/common/ErrorPlaceholder/ErrorPlaceholder.tsx
  frontend/src/components/common/FloatingButton/FloatingButton.style.tsx
  frontend/src/components/common/FloatingButton/FloatingButton.tsx
  frontend/src/components/common/HeaderLogo/HeaderLogo.style.tsx
  frontend/src/components/common/HeaderLogo/HeaderLogo.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.style.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/components/common/InfiniteScroll/InfiniteScroll.tsx
  frontend/src/components/common/LazyImage/LazyImage.tsx
  frontend/src/components/common/Modal/Modal.tsx
  frontend/src/components/common/NoDataPlaceholder/NoDataPlaceholder.tsx
  frontend/src/components/common/Rating/Rating.tsx
  frontend/src/components/common/RatingInput/RatingInput.tsx
  frontend/src/components/common/ReviewCount/ReviewCount.tsx
  frontend/src/components/common/SearchBar/SearchBar.style.tsx
  frontend/src/components/common/SearchBar/SearchBar.tsx
  frontend/src/components/common/SearchFilter/SearchFilter.tsx
  frontend/src/components/common/SectionHeader/SectionHeader.style.tsx
  frontend/src/components/common/Select/Select.tsx
  frontend/src/contexts/ModalContextProvider.tsx
  frontend/src/hooks/api/useGetMany.tsx
  frontend/src/hooks/useSearch.tsx
  frontend/src/pages/Product/Product.style.tsx
  frontend/src/pages/Product/Product.tsx
  frontend/src/pages/Products/Products.style.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/common/PageLayout/PageLayout.tsx
  frontend/src/style/GlobalStyles.tsx
  frontend/src/style/ResetCss.tsx
Labels: :computer: frontend, 🔊 a11y

#797 [Feature/FE] 사용자 피드백을 반영해서 스크롤 유지, 제품 상세정보 우회 구현
  frontend/cypress/e2e/spec.cy.ts
  frontend/src/components/Product/ProductDetail/ProductDetail.style.tsx
  frontend/src/components/Product/ProductDetail/ProductDetail.tsx
  frontend/src/components/Product/ProductListSection/ProductListSection.tsx
  frontend/src/constants/api.ts
Labels: :computer: frontend, :white_check_mark: feature-done

#799 [FE] 타입 관련 리팩토링을 진행한다.
  frontend/src/components/Profile/ProfileCard/ProfileCard.stories.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.tsx
  frontend/src/components/common/BarGraph/BarGraph.tsx
  frontend/src/components/common/Chip/Chip.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.tsx
  frontend/src/components/common/SectionHeader/SectionHeader.tsx
  frontend/src/constants/header.ts
  frontend/src/constants/profile.ts
  frontend/src/hooks/useUrlSyncState.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
  frontend/src/types/api.d.ts
  frontend/src/types/auth.d.ts
  frontend/src/types/product.d.ts
  frontend/src/types/profile.d.ts
  frontend/src/types/review.d.ts
Labels: :computer: frontend, :hammer_and_wrench: refactoring

#802 [FE] 탭 이동 시 포커스 border가 표시되는 문제 수정
  frontend/src/pages/common/PageLayout/PageLayout.style.tsx
  frontend/src/pages/common/PageLayout/PageLayout.tsx
Labels: :computer: frontend, 🔊 a11y

#803 [FE] 불필요한 스타일 관련 패키지를 제거
  frontend/package-lock.json
  frontend/package.json
Labels: :gear: infra, :computer: frontend

#805 [FE] test 서버는 검색엔진에서 검색되지 않도록 robot 메타 태그 추가
  frontend/public/index.test.html
  frontend/webpack.common.js
  frontend/webpack.prod.js
  frontend/webpack.test.js
Labels: :gear: infra, :computer: frontend

#806 [FE] 리뷰 작성, 수정, 삭제 모킹 오류를 해결
  frontend/src/mocks/handlers.ts
Labels: :wrench: fix_issue, :computer: frontend

#807 [FE] 메인 로고 접근성 향상
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
Labels: :computer: frontend, 🔊 a11y

#808 [FE] document title을 설정하고 구글 애널리틱스를 추가
  frontend/public/index.html
  frontend/src/hooks/useUrlSyncState.tsx
  frontend/src/pages/common/PageLayout/PageLayout.tsx
Labels: :gear: infra, :computer: frontend

#809 [BE] 회원 정합성 문제 해결 배치 스케줄 대신 실시간으로 정합성을 맞추는 쿼리로 교체
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepository.java
  backend/src/main/java/com/woowacourse/f12/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidFollowerCountException.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend, 🧑‍💻member

#810 [FE] 인기제품 API 주소 변경
  frontend/src/constants/api.ts
  frontend/src/hooks/usePopularProducts.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Home/Home.tsx
Labels: :hammer: feature, :computer: frontend, :package: product

#811 [FE] manifest, favicon 관련 빌드 설정 업데이트
  frontend/package-lock.json
  frontend/package.json
  frontend/public/icons/android-chrome-192x192.png
  frontend/public/icons/android-chrome-512x512.png
  frontend/public/icons/apple-touch-icon.png
  frontend/public/icons/favicon-16x16.png
  frontend/public/icons/favicon-32x32.png
  frontend/public/icons/favicon.ico
  frontend/public/icons/safari-pinned-tab.svg
  frontend/public/index.html
  frontend/public/index.test.html
  frontend/public/manifest.webmanifest
  frontend/webpack.common.js
  frontend/webpack.dev.js
Labels: :gear: infra, :computer: frontend

#812 [BE] DB 컬럼을 flyway 버전별로 수정한다.
  backend/src/main/resources/db/migration/V1__init.sql
  backend/src/main/resources/db/migration/V2.0__modify_member_role_column.sql
  backend/src/main/resources/db/migration/V2.1__update_member_role_admin.sql
  backend/src/main/resources/db/migration/V2.2__modify_member_career_level_column.sql
  backend/src/main/resources/db/migration/V2.3__modify_member_job_type_column.sql
  backend/src/main/resources/db/migration/V3.0__modify_product_category_column.sql
  backend/src/main/resources/db/migration/V4.0__modify_inventory_product_member_id_column.sql
  backend/src/main/resources/db/migration/V4.1__modify_inventory_product_product_id_column.sql
  backend/src/main/resources/db/migration/V4.2__modify_inverntory_product_selected_column.sql
  backend/src/main/resources/db/migration/V5.0__modify_following_following_id_column.sql
Labels: :hammer: feature, :desktop_computer: backend, 📦 DB

#813 [FE] 스타일이 통일되지 않은 부분들을 통일
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.style.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.style.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/Review/ReviewForm/ReviewForm.style.tsx
  frontend/src/components/common/CategoryNav/CategoryNav.style.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.style.tsx
  frontend/src/components/common/InfiniteScroll/InfiniteScroll.tsx
  frontend/src/components/common/SectionHeader/SectionHeader.style.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Profile/Profile.style.tsx
  frontend/src/pages/Register/Register.style.tsx
Labels: :computer: frontend, :iphone: ui

#790 [Feature/be] 동시성으로 인한 데이터 정합성 문제 해결
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/review/Review.java
  backend/src/main/java/com/woowacourse/f12/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidFollowerCountException.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, :package: product, 🧑‍💻member

#818 [Bugfix/FE] 제품 정렬 스타일 오류 수정
  frontend/src/components/Product/ProductListSection/ProductListSection.style.tsx
  frontend/src/components/Product/ProductListSection/ProductListSection.tsx
Labels: :computer: frontend

#825 [Feature/FE] 스타일 관련 코드 수정
  frontend/src/assets/plus.svg
  frontend/src/assets/writing.svg
  frontend/src/components/Profile/ProductBar/ProductBar.tsx
  frontend/src/components/common/FloatingButton/FloatingButton.stories.tsx
  frontend/src/components/common/FloatingButton/FloatingButton.style.tsx
  frontend/src/components/common/Modal/Modal.tsx
  frontend/src/pages/Product/Product.tsx
Labels: :computer: frontend, :iphone: ui

#827 [FE] 바텀 시트가 리뷰 작성 버튼에 가려지는 문제 수정
  frontend/src/components/common/BottomSheet/BottomSheet.style.tsx
Labels: :wrench: fix_issue, :computer: frontend

#829 [FE] 그래프의 바가 지속적으로 렌더링 되는 문제 수정
  frontend/src/components/common/BarGraph/BarGraph.tsx
Labels: :wrench: fix_issue, :computer: frontend, :iphone: ui

#832 [BugFix/FE] 팔로우 관련 오류 수정
  frontend/src/components/common/Modal/Modal.tsx
  frontend/src/constants/messages.ts
Labels: :wrench: fix_issue, :computer: frontend

#823 [Feature/BE] DB 형상관리 및 column 속성을 최적화한다.
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V1_0__init.sql
  backend/src/main/resources/db/migration/V1_1__init_index.sql
  backend/src/main/resources/db/migration/V2_0__modify_member_role_column.sql
  backend/src/main/resources/db/migration/V2_1__update_member_role_admin.sql
  backend/src/main/resources/db/migration/V2_2__modify_member_career_level_column.sql
  backend/src/main/resources/db/migration/V2_3__modify_member_job_type_column.sql
  backend/src/main/resources/db/migration/V3_0__modify_product_category_column.sql
  backend/src/main/resources/db/migration/V4_0__modify_inventory_product_member_id_column.sql
  backend/src/main/resources/db/migration/V4_1__modify_inventory_product_product_id_column.sql
  backend/src/main/resources/db/migration/V4_2__modify_inverntory_product_selected_column.sql
  backend/src/main/resources/db/migration/V5_0__modify_following_following_id_column.sql
Labels: :desktop_computer: backend, :white_check_mark: feature-done, 📦 DB

#833 [Bugfix/FE] 깃헙 최대 유저네임 길이에 대응하도록 스타일 수정
  frontend/src/components/Profile/UserInfo/UserInfo.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.tsx
  frontend/src/pages/Profile/Profile.style.tsx
  frontend/src/pages/Profile/Profile.tsx
Labels: :computer: frontend, :iphone: ui

#835 [BugFix/FE] 공백문자를 과도하게 입력할 경우 레이아웃이 깨지는 문제 수정
  frontend/src/components/Review/ReviewCard/ReviewCard.style.tsx
  frontend/src/mocks/data.ts
Labels: :wrench: fix_issue, :computer: frontend

#836 [Feature/BE] 어드민 페이지 구현 (#727)
  admin/.eslintrc.json
  admin/.gitignore
  admin/.prettierrc.json
  admin/babel.config.json
  admin/package-lock.json
  admin/package.json
  admin/public/favicon.ico
  admin/public/index.html
  admin/src/App.jsx
  admin/src/assets/HeaderLogo.svg
  admin/src/assets/search.svg
  admin/src/components/Button.jsx
  admin/src/components/HeaderLayOut.jsx
  admin/src/components/InsertProduct.jsx
  admin/src/components/Landing.jsx
  admin/src/components/Login.jsx
  admin/src/components/Main.jsx
  admin/src/components/NotFound.jsx
  admin/src/components/PageLayout.jsx
  admin/src/components/Product.jsx
  admin/src/components/ProductCategorySelect.jsx
  admin/src/components/SearchBar.jsx
  admin/src/constants/urls.js
  admin/src/index.jsx
  admin/webpack.common.js
  admin/webpack.dev.js
  admin/webpack.main.js
  admin/webpack.release.js
Labels: :white_check_mark: feature-done, 👷admin_page

#838 [DOCS] README 업데이트
  README.md
Labels: :newspaper: documentation

#839 [Chore] 버전을 올림
  frontend/package-lock.json
  frontend/package.json
Labels: :gear: infra

#843 [HotFix] 어드민 페이지에 대해 CORS를 허용
  backend/src/main/java/com/woowacourse/f12/config/WebConfig.java
  backend/src/test/java/com/woowacourse/f12/config/WebConfigTest.java
Labels: :desktop_computer: backend, :fire: hotfix

#845 [Hotfix/FE] 높이가 긴 이미지가 잘리는 오류 수정
  frontend/src/components/common/LazyImage/LazyImage.style.tsx
  frontend/src/mocks/data.ts
Labels: :computer: frontend, :iphone: ui, :fire: hotfix

#846 [Hotfix/FE] 리뷰카드와 프로필 카드에서 높이가 긴 이미지가 잘리는 오류 수정
  frontend/src/components/Profile/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.style.tsx
  frontend/src/mocks/data.ts
Labels: :computer: frontend, :iphone: ui, :fire: hotfix

#847 [Hotfix/admin] 오류 수정 및 스타일 추가
  admin/.gitignore
  admin/src/components/Button.jsx
  admin/src/components/InsertProduct.jsx
  admin/src/components/Main.jsx
  admin/src/components/Product.jsx
  admin/src/components/ProductCategorySelect.jsx
Labels: :fire: hotfix, 👷admin_page

#848 [Hotfix/FE] 프로필 페이지에서 데스크 셋업 변경 시 refetch가 되지 않는 오류 해결
  frontend/src/hooks/api/useCache.tsx
Labels: :computer: frontend, :fire: hotfix

#859 [Bugfix/FE] babel/core-js 설치 및 설정을 통해 at 매서드 오류 해결
  frontend/babel.config.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.tsx
Labels: :wrench: fix_issue, :gear: infra, :computer: frontend

#857 [Bugfix/FE] intersection observer 오류 수정
  frontend/src/components/common/InfiniteScroll/InfiniteScroll.tsx
Labels: :wrench: fix_issue, :computer: frontend, :iphone: ui
