Repository woowacourse-teams/2022-f12, pull requests merged in 2022-08, with the labels that each got.

#309 [FE] 사용자 통계 기능 구현
  frontend/src/components/common/BarGraph/BarGraph.stories.tsx
  frontend/src/components/common/BarGraph/BarGraph.style.tsx
  frontend/src/components/common/BarGraph/BarGraph.tsx
  frontend/src/custom.d.ts
  frontend/src/hooks/useStatistics.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Product/Product.style.tsx
  frontend/src/pages/Product/Product.tsx
Labels: :hammer: feature, :computer: frontend

#313 [BE] 사용자 통계 기능 피드백을 반영
  backend/src/main/java/com/woowacourse/f12/application/product/ProductService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/domain/review/CareerLevelCount.java
  backend/src/main/java/com/woowacourse/f12/domain/review/Countable.java
  backend/src/main/java/com/woowacourse/f12/domain/review/JobTypeCount.java
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthController.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/ProductController.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, 🧑‍💻member

#293 [Feature/BE] 특정 제품에 대한 사용자 통계 기능 구현
  backend/src/docs/asciidoc/products.adoc
  backend/src/main/java/com/woowacourse/f12/application/product/ProductService.java
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/CareerLevel.java
  backend/src/main/java/com/woowacourse/f12/domain/member/JobType.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberInfo.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/domain/review/CareerLevelCount.java
  backend/src/main/java/com/woowacourse/f12/domain/review/Countable.java
  backend/src/main/java/com/woowacourse/f12/domain/review/JobTypeCount.java
  backend/src/main/java/com/woowacourse/f12/domain/review/MemberInfoStatistics.java
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepositoryCustom.java
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/dto/response/product/ProductStatisticsResponse.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/KeyboardNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/ProductNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthController.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/ProductController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/GitHubOauthClientTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/product/ProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/review/MemberInfoStatisticsTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/FakeGitHubApiController.java
  backend/src/test/java/com/woowacourse/f12/support/GitHubProfileFixtures.java
Labels: :desktop_computer: backend, :package: product, :white_check_mark: feature-done

#315 [BE] 예외 상황시 예외 코드 반환 피드백 반영
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/dto/request/member/MemberRequest.java
  backend/src/main/java/com/woowacourse/f12/dto/request/member/MemberSearchRequest.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberWithProfileProductResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/product/ProductStatisticsResponse.java
  backend/src/main/java/com/woowacourse/f12/exception/CustomException.java
  backend/src/main/java/com/woowacourse/f12/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidValueException.java
  backend/src/main/java/com/woowacourse/f12/exception/forbidden/ForbiddenMemberException.java
  backend/src/main/java/com/woowacourse/f12/exception/internalserver/ExternalServerException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/NotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/UnauthorizedException.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/CareerLevelConstant.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/CareerLevelParamConverter.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/JobTypeConstant.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/JobTypeParamConverter.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/member/MemberDocumentation.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring

#320 [FE] 사용자 검색 기능 구현
  frontend/src/components/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/ProfileCard/ProfileCard.tsx
  frontend/src/components/ProfileSearchResult/ProfileSearchResult.stories.tsx
  frontend/src/components/ProfileSearchResult/ProfileSearchResult.style.tsx
  frontend/src/components/ProfileSearchResult/ProfileSearchResult.tsx
  frontend/src/components/SearchFilter/SearchFilter.style.tsx
  frontend/src/components/SearchFilter/SearchFilter.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.style.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/components/common/SearchBar/SearchBar.style.tsx
  frontend/src/components/common/SearchBar/SearchBar.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/routes.ts
  frontend/src/custom.d.ts
  frontend/src/hooks/useProfileSearch.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.style.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
  frontend/src/pages/Register/Register.tsx
  frontend/src/pages/index.tsx
Labels: :hammer: feature, :computer: frontend

#310 [Feature/FE] 사용자 통계 기능 구현
  frontend/src/components/common/BarGraph/BarGraph.stories.tsx
  frontend/src/components/common/BarGraph/BarGraph.style.tsx
  frontend/src/components/common/BarGraph/BarGraph.tsx
  frontend/src/custom.d.ts
  frontend/src/hooks/useStatistics.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Product/Product.style.tsx
  frontend/src/pages/Product/Product.tsx
Labels: :computer: frontend, :white_check_mark: feature-done

#321 [Feature/FE] 사용자 검색 기능 구현
  frontend/src/components/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/ProfileCard/ProfileCard.tsx
  frontend/src/components/ProfileSearchResult/ProfileSearchResult.stories.tsx
  frontend/src/components/ProfileSearchResult/ProfileSearchResult.style.tsx
  frontend/src/components/ProfileSearchResult/ProfileSearchResult.tsx
  frontend/src/components/SearchFilter/SearchFilter.style.tsx
  frontend/src/components/SearchFilter/SearchFilter.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.style.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/components/common/SearchBar/SearchBar.style.tsx
  frontend/src/components/common/SearchBar/SearchBar.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/routes.ts
  frontend/src/custom.d.ts
  frontend/src/hooks/useProfileSearch.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.style.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
  frontend/src/pages/Register/Register.tsx
  frontend/src/pages/index.tsx
Labels: :computer: frontend, :white_check_mark: feature-done

#308 [Feature/FE] 모달 컴포넌트 구현 및 alert, confirm에 적용
  frontend/.eslintrc.json
  frontend/src/components/Login/Login.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/components/common/Modal/Modal.stories.tsx
  frontend/src/components/common/Modal/Modal.style.tsx
  frontend/src/components/common/Modal/Modal.tsx
  frontend/src/contexts/ModalContextProvider.tsx
  frontend/src/hooks/api/useDelete.tsx
  frontend/src/hooks/api/useGet.tsx
  frontend/src/hooks/api/useGetMany.tsx
  frontend/src/hooks/api/useGetOne.tsx
  frontend/src/hooks/api/usePatch.tsx
  frontend/src/hooks/api/usePost.tsx
  frontend/src/hooks/api/usePut.tsx
  frontend/src/hooks/useConfirm.tsx
  frontend/src/hooks/useError.tsx
  frontend/src/hooks/useModal.tsx
  frontend/src/index.tsx
  frontend/src/pages/Product/Product.tsx
  frontend/src/pages/Register/Register.tsx
  frontend/src/utils/handleError.ts
Labels: :computer: frontend, :iphone: ui, :white_check_mark: feature-done

#332 [BE] 페이지 조회 시 중복되는 아이템 조회되는 이슈 피드백 반영완료
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :package: product

#318 [BugFix/BE] 페이지 조회 시 중복되는 아이템 조회되는 이슈 해결
  backend/src/main/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolver.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend

#333 [BE] GitHub Actions workflow에 테스트 리포트 추가
  .github/workflows/backend.yml
Labels: :gear: infra, :desktop_computer: backend

#336 [BE] backend workflow 파일 내부 경로 설정 통일
  .github/workflows/backend.yml
Labels: :gear: infra, :desktop_computer: backend

#334 [Feature/BE] GitHub Actions workflow에 테스트 리포트 추가
  .github/workflows/backend.yml
Labels: :gear: infra, :desktop_computer: backend

#338 [Bugfix/BE] 테스트 리포트 파일 경로 수정
  .github/workflows/backend.yml
Labels: :gear: infra, :desktop_computer: backend

#345 [BE] 서브모듈 적용 방식을 프로필 include에서 import로 변경
  backend/.gitignore
  backend/build.gradle
  backend/src/main/resources/application.yml
Labels: :gear: infra, :desktop_computer: backend

#346 [Feature/BE] 서브모듈 적용 방식을 프로필 include에서 import로 변경
  backend/.gitignore
  backend/build.gradle
  backend/src/main/resources/application.yml
Labels: :gear: infra, :desktop_computer: backend

#347 [Bugfix/FE] 프론트엔드 버그 이슈 해결
  frontend/src/components/ProductListSection/ProductListSection.tsx
  frontend/src/components/ProfileCard/ProfileCard.tsx
  frontend/src/components/ProfileSearchResult/ProfileSearchResult.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/NoDataPlaceholder/NoDataPlaceholder.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.tsx
  frontend/src/hooks/api/useAxios.tsx
  frontend/src/hooks/api/useGetMany.tsx
  frontend/src/hooks/useInventory.tsx
  frontend/src/mocks/data.ts
  frontend/src/pages/Profile/Profile.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
  frontend/src/pages/Register/Register.tsx
Labels: :wrench: fix_issue, :computer: frontend

#350 [BE] 로깅 구현
  backend/build.gradle
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/LogInterceptor.java
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-main.yml
  backend/src/main/resources/application-release.yml
  backend/src/main/resources/application.yml
  backend/src/main/resources/log4j2/log4j2-local.xml
  backend/src/main/resources/log4j2/log4j2-main.xml
  backend/src/main/resources/log4j2/log4j2-release.xml
  backend/src/test/resources/application.yml
Labels: :hammer: feature, :desktop_computer: backend, 👁 log

#349 [Feature/FE] 테스트 전략을 수립하고 자동화 테스트 코드를 추가
  .github/workflows/frontend.yml
  frontend/.eslintrc.json
  frontend/cypress.config.ts
  frontend/cypress/e2e/spec.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/cypress/testing-library.d.ts
  frontend/cypress/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ProductListSection/ProductListSection.tsx
  frontend/src/components/ProfileCard/ProfileCard.stories.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/BarGraph/BarGraph.style.tsx
  frontend/src/components/common/BarGraph/BarGraph.tsx
  frontend/src/components/common/CategoryNav/CategoryNav.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/components/common/Loading/Loading.tsx
  frontend/src/components/common/ProductCard/ProductCard.stories.tsx
  frontend/src/components/common/ProductCard/ProductCard.style.tsx
  frontend/src/components/common/ProductCard/ProductCard.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.stories.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.tsx
  frontend/src/components/common/UserInfo/UserInfo.stories.tsx
  frontend/src/components/common/UserNameTag/UserNameTag.stories.tsx
  frontend/src/index.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/sample_keyboard.jpg
  frontend/src/mocks/sample_profile.jpg
  frontend/tsconfig.json
Labels: :gear: infra, :computer: frontend, :chart_with_upwards_trend: test

#355 [BE] 같은 카테고리에 대해서는 대표장비를 1개만 등록할 수 있는 기능 피드백 반영
  backend/src/main/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/DuplicatedProfileProductCategoryException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileProductCategoryException.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :briefcase: inventory

#328 [Feature/BE] 같은 카테고리에 대해서는 대표장비를 1개만 등록할 수 있는 기능 수정
  backend/src/main/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepository.java
  backend/src/main/java/com/woowacourse/f12/dto/request/inventoryproduct/ProfileProductRequest.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/DuplicatedProfileProductCategoryException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileProductCategoryException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileProductException.java
  backend/src/main/java/com/woowacourse/f12/exception/internalserver/InternalServerException.java
  backend/src/main/java/com/woowacourse/f12/exception/internalserver/SqlUpdateException.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/inventoryproduct/InventoryProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, :briefcase: inventory

#356 [BE] 회원 검색 시 대표장비만 조회되도록 수정 코드 리뷰 피드백 반영
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberWithProfileProductResponse.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend, 🧑‍💻member

#357 [FE] 통계 그래프 토글 버튼 수정 요청을 반영
  frontend/src/components/common/BarGraph/BarGraph.style.tsx
  frontend/src/components/common/BarGraph/BarGraph.tsx
Labels: :computer: frontend, :iphone: ui

#330 [Feature/BE] 회원을 검색할 때 대표장비가 아닌 다른 제품들도 나오는 오류 수정
  backend/src/main/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberWithProfileProductResponse.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberTest.java
  backend/src/test/java/com/woowacourse/f12/support/InventoryProductFixtures.java
Labels: :wrench: fix_issue, :desktop_computer: backend, 🧑‍💻member

#359 [BE] 대표장비 업데이트 로직 수정 피드백을 반영
  backend/src/main/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepository.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/AlreadyWrittenReviewException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/BlankContentException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidCareerLevelException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidCategoryValueException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidContentLengthException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidGitHubLoginException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidJobTypeException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidPageNumberFormatException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidPageSizeException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidPageSizeFormatException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileArgumentException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileProductException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidRatingValueException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidValueException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/NotUpdatableException.java
  backend/src/main/java/com/woowacourse/f12/exception/forbidden/ForbiddenMemberException.java
  backend/src/main/java/com/woowacourse/f12/exception/forbidden/NotAuthorException.java
  backend/src/main/java/com/woowacourse/f12/exception/internalserver/ExternalServerException.java
  backend/src/main/java/com/woowacourse/f12/exception/internalserver/GitHubServerException.java
  backend/src/main/java/com/woowacourse/f12/exception/internalserver/SqlUpdateException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/InventoryProductNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/MemberNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/NotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/ProductNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/ReviewNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenExpiredException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenInvalidException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenNotExistsException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/UnauthorizedException.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :briefcase: inventory

#326 [BugFix/BE] 대표장비 업데이트 로직 수정
  backend/src/main/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepository.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/AlreadyWrittenReviewException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/BlankContentException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/DuplicatedProfileProductCategoryException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidCareerLevelException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidCategoryValueException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidContentLengthException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidGitHubLoginException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidJobTypeException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidPageNumberFormatException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidPageSizeException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidPageSizeFormatException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileArgumentException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileProductCategoryException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileProductException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidRatingValueException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidValueException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/NotUpdatableException.java
  backend/src/main/java/com/woowacourse/f12/exception/forbidden/ForbiddenMemberException.java
  backend/src/main/java/com/woowacourse/f12/exception/forbidden/NotAuthorException.java
  backend/src/main/java/com/woowacourse/f12/exception/internalserver/ExternalServerException.java
  backend/src/main/java/com/woowacourse/f12/exception/internalserver/GitHubServerException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/InventoryProductNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/MemberNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/NotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/ProductNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/ReviewNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenExpiredException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenInvalidException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenNotExistsException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/UnauthorizedException.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :briefcase: inventory

#351 [Feature/BE] 로깅 구현
  backend/build.gradle
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/LogInterceptor.java
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-main.yml
  backend/src/main/resources/application-release.yml
  backend/src/main/resources/application.yml
  backend/src/main/resources/log4j2/log4j2-local.xml
  backend/src/main/resources/log4j2/log4j2-main.xml
  backend/src/main/resources/log4j2/log4j2-release.xml
  backend/src/test/resources/application.yml
Labels: :desktop_computer: backend, :white_check_mark: feature-done, 👁 log

#361 [BE] main, release, local 환경에 따라 다른 github oauth app과 데이터베이스에 연결하도록 설정
  backend/.gitignore
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-main.yml
  backend/src/main/resources/application-release.yml
  backend/src/main/resources/application.yml
Labels: :gear: infra, :desktop_computer: backend

#362 [BE] main, release, local 환경에 따라 다른 github oauth app과 데이터베이스에 연결하도록 설정
  backend/.gitignore
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-main.yml
  backend/src/main/resources/application-release.yml
  backend/src/main/resources/application.yml
Labels: :gear: infra, :desktop_computer: backend

#364 [BE] mysql 드라이버 설정
  backend/build.gradle
Labels: :wrench: fix_issue, :desktop_computer: backend

#365 [Bugfix/BE] mysql 드라이버 설정
  backend/build.gradle
Labels: :wrench: fix_issue, :desktop_computer: backend

#367 chore: 빌드 시 필수 패키지만 설치할 수 있도록 패키지 설정 변경
  frontend/package-lock.json
  frontend/package.json
Labels: :gear: infra, :computer: frontend

#368 [BE] 회원 정보를 조회할 때 id에 대한 역순으로 정렬이 안되는 오류 수정
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustomImpl.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend, 🧑‍💻member

#372 [FE] 프로필 검색 기능 보완
  frontend/src/components/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/ProfileCard/ProfileCard.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.style.tsx
  frontend/src/custom.d.ts
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
Labels: :hammer: feature, :computer: frontend

#373 [Feature/FE] 프로필 검색 기능 보완
  frontend/src/components/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/ProfileCard/ProfileCard.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.style.tsx
  frontend/src/custom.d.ts
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
Labels: :computer: frontend, :white_check_mark: feature-done

#375 [FE] 프로필 기능을 보완
  frontend/src/components/common/Chip/Chip.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.style.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.tsx
  frontend/src/components/common/UserInfo/UserInfo.tsx
  frontend/src/custom.d.ts
  frontend/src/hooks/useInventory.tsx
  frontend/src/mocks/data.ts
  frontend/src/pages/Profile/Profile.tsx
Labels: :hammer: feature, :computer: frontend, :man: profile

#376 [Feature/FE] 프로필 기능을 보완
  frontend/src/components/common/Chip/Chip.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.stories.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.style.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.tsx
  frontend/src/components/common/UserInfo/UserInfo.tsx
  frontend/src/custom.d.ts
  frontend/src/hooks/useInventory.tsx
  frontend/src/mocks/data.ts
  frontend/src/pages/Profile/Profile.tsx
Labels: :computer: frontend, :white_check_mark: feature-done, :man: profile

#378 [Feature/FE] 통계 그래프 색상 수정
  frontend/src/components/common/BarGraph/BarGraph.tsx
Labels: :computer: frontend, :iphone: ui

#379 [Feature/FE] package.json 정보 수정
  frontend/package.json
Labels: :gear: infra, :computer: frontend

#369 [BugFix/BE] 회원 정보를 조회할 때 id에 대한 역순으로 정렬이 안되는 오류 수정
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustomImpl.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend, 🧑‍💻member

#380 [Chore/FE] 빌드 환경별로 소셜 로그인 링크 분기 설정
  frontend/src/constants/api.ts
  frontend/src/custom.d.ts
  frontend/webpack.dev.js
  frontend/webpack.prod.js
  frontend/webpack.test.js
Labels: :gear: infra, :computer: frontend

#382 [Bugfix/FE] 리뷰 작성 최대 길이 검증 수정
  frontend/src/components/common/ReviewForm/ReviewForm.tsx
Labels: :wrench: fix_issue, :computer: frontend

#384 [Bugfix/FE] 사용자 통계 그래프 버그 수정
  frontend/src/components/common/BarGraph/BarGraph.tsx
Labels: :bug: bug_report, :computer: frontend

#385 [Bugfix/FE] 프로필 페이지에 섹션 제목 및 설명 추가
  frontend/src/components/common/ProductSelect/ProductSelect.style.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.tsx
  frontend/src/components/common/SectionHeader/SectionHeader.style.tsx
  frontend/src/pages/Profile/Profile.style.tsx
  frontend/src/pages/Profile/Profile.tsx
Labels: :wrench: fix_issue, :computer: frontend, :iphone: ui

#393 [Hotfix/BE] 추가정보를 입력 안 한 경우 자신의 프로필 및 제품 통계에서 오류 발생 해결
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/CareerLevelConstant.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/JobTypeConstant.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/MemberFixtures.java
Labels: :desktop_computer: backend, :fire: hotfix, 🧑‍💻member

#394 [Hotfix/FE] 추가정보 입력하지 않은 사용자의 경로 이동 방지 추가
  frontend/package.json
  frontend/src/components/common/UserInfo/UserInfo.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/OtherProfile/OtherProfile.tsx
  frontend/src/pages/common/ClosedRoutes/ClosedRoutes.tsx
  frontend/src/pages/common/RegisterIncompleteRoute/RegisterCompleteRoute.tsx
  frontend/src/pages/index.tsx
Labels: :wrench: fix_issue, :computer: frontend, :fire: hotfix

#396 [Hotfix/FE] 추가 정보 저장 후 이동 경로 이동 불가한 오류 수정
  frontend/src/hooks/api/usePatch.tsx
  frontend/src/pages/Register/Register.tsx
Labels: :wrench: fix_issue, :computer: frontend, :fire: hotfix

#403 [BE] equals 메서드가 제대로 작성되지 않은 경우 수정
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProduct.java
  backend/src/main/java/com/woowacourse/f12/domain/review/Review.java
Labels: :wrench: fix_issue, :desktop_computer: backend

#408 [BE] CORS가 허용된 origin 제한
  backend/src/main/java/com/woowacourse/f12/config/WebConfig.java
  backend/src/test/java/com/woowacourse/f12/config/WebConfigTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend

#407 [Feature/BE] Sprint3에 대한 버퍼 해소
  backend/src/main/java/com/woowacourse/f12/config/WebConfig.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring

#409 [Bugfix/FE] github oauth에서 인증을 취소할 시 발생하는 오류 해결
  frontend/src/components/Login/Login.tsx
Labels: :wrench: fix_issue, :computer: frontend

#411 [Feature/FE] 상단 메뉴바 및 상품 페이지 수정
  frontend/src/components/common/CategoryNav/CategoryNav.tsx
  frontend/src/components/common/CustomLink/CustomLink.style.tsx
  frontend/src/components/common/CustomLink/CustomLink.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Products/Products.tsx
Labels: :computer: frontend, :iphone: ui

#412 [FE] 통계 컴포넌트 코드 리팩토링
  frontend/src/components/common/BarGraph/BarGraph.tsx
Labels: :computer: frontend, :hammer_and_wrench: refactoring

#413 [Feature/FE] 리뷰 카드에 상세 페이지 이동 링크 추가
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.tsx
  frontend/src/components/common/UserNameTag/UserNameTag.tsx
Labels: :computer: frontend, :iphone: ui

#410 [BugFix/BE] 프록시와 CORS 관련된 동작 이슈 수정
  backend/src/main/java/com/woowacourse/f12/config/WebConfig.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProduct.java
  backend/src/main/java/com/woowacourse/f12/domain/review/Review.java
  backend/src/test/java/com/woowacourse/f12/config/WebConfigTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend

#414 [Feature/FE] 프로필 페이지 개선
  frontend/src/components/InventoryProductList/InventoryProductList.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.tsx
  frontend/src/components/common/UserInfo/UserInfo.styled.tsx
  frontend/src/components/common/UserInfo/UserInfo.tsx
Labels: :hammer: feature, :computer: frontend

#416 [Feature/FE] 리뷰 카드 및 제품 카드, 제품 상세 컴포넌트에 추가 정보 UI 구현
  frontend/src/assets/review.svg
  frontend/src/components/ProductListSection/ProductListSection.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/ProductCard/ProductCard.style.tsx
  frontend/src/components/common/ProductCard/ProductCard.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.style.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.tsx
  frontend/src/components/common/ReviewCount/ReviewCount.style.tsx
  frontend/src/components/common/ReviewCount/ReviewCount.tsx
  frontend/src/mocks/data.ts
Labels: :computer: frontend, :iphone: ui

#420 [Feature/FE] MSW API 모킹 핸들러 순서 정리 및 누락 핸들러 추가
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
Labels: :hammer: feature, :computer: frontend

#421 [FE] 경로 처리 리팩토링
  frontend/src/pages/common/ClosedRoutes/ClosedRoutes.tsx
  frontend/src/pages/common/RegisterIncompleteRoute/RegisterCompleteRoute.tsx
  frontend/src/pages/index.tsx
Labels: :computer: frontend, :hammer_and_wrench: refactoring

#423 [FE] confirm 모달 창 promise가 무조건 resolve 되도록 수정
  frontend/src/contexts/ModalContextProvider.tsx
Labels: :wrench: fix_issue, :computer: frontend

#426 [BE] @Builder 사용 시 객체의 기본 값이 Builder에도 설정되도록 수정
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProduct.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/domain/review/Review.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :hammer_and_wrench: refactoring

#425 [Feature/FE] 프로필 카드 개선
  frontend/src/assets/nextSign.svg
  frontend/src/assets/prevSign.svg
  frontend/src/components/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/ProfileCard/ProfileCard.tsx
Labels: :hammer: feature, :computer: frontend, :iphone: ui

#427 [BE] 빌더에 관련된 리팩토링
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProduct.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/domain/review/Review.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :hammer_and_wrench: refactoring

#428 [Feature/FE] 스프린트 3 Buffer
  frontend/cypress/e2e/spec.cy.ts
  frontend/src/assets/nextSign.svg
  frontend/src/assets/prevSign.svg
  frontend/src/assets/review.svg
  frontend/src/components/InventoryProductList/InventoryProductList.tsx
  frontend/src/components/Login/Login.tsx
  frontend/src/components/ProductListSection/ProductListSection.tsx
  frontend/src/components/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/ProfileCard/ProfileCard.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/BarGraph/BarGraph.tsx
  frontend/src/components/common/CategoryNav/CategoryNav.tsx
  frontend/src/components/common/CustomLink/CustomLink.style.tsx
  frontend/src/components/common/CustomLink/CustomLink.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/components/common/ProductCard/ProductCard.style.tsx
  frontend/src/components/common/ProductCard/ProductCard.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.style.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.tsx
  frontend/src/components/common/ReviewCount/ReviewCount.style.tsx
  frontend/src/components/common/ReviewCount/ReviewCount.tsx
  frontend/src/components/common/UserInfo/UserInfo.styled.tsx
  frontend/src/components/common/UserInfo/UserInfo.tsx
  frontend/src/components/common/UserNameTag/UserNameTag.tsx
  frontend/src/contexts/ModalContextProvider.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/common/ClosedRoutes/ClosedRoutes.tsx
  frontend/src/pages/common/RegisterIncompleteRoute/RegisterCompleteRoute.tsx
  frontend/src/pages/index.tsx
Labels: :computer: frontend

#431 [BE] 제품을 검색할 수 있는 기능 구현
  backend/src/docs/asciidoc/products.adoc
  backend/src/main/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/application/product/ProductService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepositoryCustom.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/dto/request/product/ProductSearchRequest.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/ProductController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/product/ProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, :package: product

#433 [BE] QueryDSL 중복코드 제거
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/support/RepositorySupport.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring

#435 [Feature/FE] 제품 검색 기능 구현
  frontend/src/assets/review.svg
  frontend/src/components/SearchFilter/SearchFilter.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.tsx
  frontend/src/components/common/SearchBar/SearchBar.tsx
  frontend/src/hooks/useProfileSearch.tsx
  frontend/src/hooks/useSearch.tsx
  frontend/src/pages/Products/Products.style.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.style.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
Labels: :hammer: feature, :computer: frontend

#437 [Bugfix/FE] 스토리북 컴포넌트 오류 수정
  frontend/.storybook/main.js
  frontend/src/components/ProductListSection/ProductListSection.stories.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.stories.tsx
  frontend/src/components/SearchFilter/SearchFilter.stories.tsx
  frontend/src/mocks/data.ts
  frontend/src/pages/Products/Products.tsx
Labels: :wrench: fix_issue, :computer: frontend

#436 [Feature/FE] 제품 검색 기능 구현
  frontend/.storybook/main.js
  frontend/src/assets/review.svg
  frontend/src/components/ProductListSection/ProductListSection.stories.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.stories.tsx
  frontend/src/components/SearchFilter/SearchFilter.stories.tsx
  frontend/src/components/SearchFilter/SearchFilter.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.tsx
  frontend/src/components/common/SearchBar/SearchBar.tsx
  frontend/src/hooks/useProfileSearch.tsx
  frontend/src/hooks/useSearch.tsx
  frontend/src/mocks/data.ts
  frontend/src/pages/Products/Products.style.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.style.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
Labels: :hammer: feature, :computer: frontend

#434 [Feature/BE] 제품 검색 기능 구현
  backend/src/docs/asciidoc/products.adoc
  backend/src/main/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/application/product/ProductService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepositoryCustom.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/dto/request/product/ProductSearchRequest.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/ProductController.java
  backend/src/main/java/com/woowacourse/f12/support/RepositorySupport.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/product/ProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
Labels: :desktop_computer: backend, :white_check_mark: feature-done

#444 [BE] github actions에서 정적 분석을 실행시키도록 한다
  .github/workflows/backend.yml
  backend/build.gradle
Labels: :gear: infra, :desktop_computer: backend

#445 [BE] github actions에서 SonarQube 정적 분석을 실행
  .github/workflows/backend.yml
  backend/build.gradle
Labels: :gear: infra, :desktop_computer: backend

#446 [BE] 에러 코드 개편 및 문서화
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/error.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/inventoryProducts.adoc
  backend/src/docs/asciidoc/members.adoc
  backend/src/docs/asciidoc/products.adoc
  backend/src/docs/asciidoc/reviews.adoc
  backend/src/main/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/AlreadyWrittenReviewException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/BlankContentException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/DuplicatedProfileProductCategoryException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidContentLengthException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidGitHubLoginException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidJobTypeException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidPageNumberFormatException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidPageSizeException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidPageSizeFormatException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileArgumentException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileProductCategoryException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileProductException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileProductUpdateException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidRatingValueException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/NotUpdatableException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/RegisterNotCompletedException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/InventoryProductNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/MemberNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/ProductNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/ReviewNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenExpiredException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenInvalidException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenNotExistsException.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
Labels: :newspaper: documentation, :wrench: fix_issue, :desktop_computer: backend

#447 [BE] 사용자 별로 작성한 리뷰 조회 기능 구현
  backend/src/main/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepository.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithAuthorAndProductPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithAuthorAndProductResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithAuthorPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithAuthorResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithProductPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithProductResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductController.java
  backend/src/main/java/com/woowacourse/f12/presentation/review/ReviewController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/inventoryproduct/InventoryProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/review/ReviewDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, :memo: review, 🧑‍💻member

#449 [BE] controller 테스트와 documentation을 하나로 병합
  backend/src/test/java/com/woowacourse/f12/RestDocsConfig.java
  backend/src/test/java/com/woowacourse/f12/documentation/auth/AuthDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/inventoryproduct/InventoryProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/member/MemberDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/product/ProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/review/ReviewDocumentation.java
  backend/src/test/java/com/woowacourse/f12/presentation/ControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
Labels: :newspaper: documentation, :desktop_computer: backend, :hammer_and_wrench: refactoring, :chart_with_upwards_trend: test

#448 [Feature/BE] 사용자 별로 작성한 리뷰 조회 기능 구현
  backend/src/docs/asciidoc/reviews.adoc
  backend/src/main/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepository.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithAuthorAndProductPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithAuthorAndProductResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithAuthorPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithAuthorResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithProductPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithProductResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductController.java
  backend/src/main/java/com/woowacourse/f12/presentation/review/ReviewController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/review/ReviewDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
Labels: :desktop_computer: backend, :memo: review, :white_check_mark: feature-done, 🧑‍💻member, :briefcase: inventory

#452 [BE] 소나큐브 정적 분석 commet를 데코레이션 한다
  .github/workflows/backend.yml
Labels: :gear: infra, :desktop_computer: backend

#453 [BE] 소나큐브 정적 분석 commet를 데코레이션 한다
  .github/workflows/backend.yml
Labels: :gear: infra, :desktop_computer: backend

#450 [Feature/BE] 에러 코드 수정 및 Documentation 변경
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/error.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/inventoryProducts.adoc
  backend/src/docs/asciidoc/members.adoc
  backend/src/docs/asciidoc/products.adoc
  backend/src/docs/asciidoc/reviews.adoc
  backend/src/main/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/AlreadyWrittenReviewException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/BlankContentException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/DuplicatedProfileProductCategoryException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidContentLengthException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidGitHubLoginException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidJobTypeException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidPageNumberFormatException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidPageSizeException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidPageSizeFormatException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileArgumentException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileProductCategoryException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileProductException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileProductUpdateException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidRatingValueException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/NotUpdatableException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/RegisterNotCompletedException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/InventoryProductNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/MemberNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/ProductNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/ReviewNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenExpiredException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenInvalidException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenNotExistsException.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/auth/AuthDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/inventoryproduct/InventoryProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/member/MemberDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/product/ProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/review/ReviewDocumentation.java
  backend/src/test/java/com/woowacourse/f12/presentation/ControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/RestDocsConfig.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
Labels: :newspaper: documentation, :desktop_computer: backend, :hammer_and_wrench: refactoring, :chart_with_upwards_trend: test

#455 [BugFix] gitHub actions workflow 누락 내용 추가
  .github/workflows/backend.yml
Labels: :wrench: fix_issue, :gear: infra, :desktop_computer: backend

#457 [BugFix] gitHub actions workflow에서 push 조건 삭제
  .github/workflows/backend.yml
Labels: :wrench: fix_issue, :gear: infra, :desktop_computer: backend

#459 [BugFix] gitHub actions test report comment 삭제
  .github/workflows/backend.yml
Labels: :wrench: fix_issue, :gear: infra, :desktop_computer: backend

#466 [BE] 요청 처리 소요 시간 로깅 구현
  backend/src/main/java/com/woowacourse/f12/exception/internalserver/IllegalRequestLogTimerState.java
  backend/src/main/java/com/woowacourse/f12/presentation/LogInterceptor.java
  backend/src/main/java/com/woowacourse/f12/support/RequestLogTimer.java
  backend/src/test/java/com/woowacourse/f12/presentation/ControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/support/RequestLogTimerTest.java
Labels: :hammer: feature, :desktop_computer: backend

#468 [BE] InventoryProduct의 일급 컬렉션으로 리팩토링
  backend/src/main/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProduct.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProducts.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/domain/product/Product.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductsTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/MemberFixtures.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :briefcase: inventory

#474 [BE] API 요청 소요시간 로깅 기능 피드백 반영
  backend/src/main/java/com/woowacourse/f12/config/LoggingConfig.java
  backend/src/main/java/com/woowacourse/f12/exception/internalserver/IllegalRequestLogTimerStateException.java
  backend/src/main/java/com/woowacourse/f12/presentation/LoggingInterceptor.java
  backend/src/main/java/com/woowacourse/f12/support/RequestLogTimer.java
  backend/src/test/java/com/woowacourse/f12/presentation/ControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/support/RequestLogTimerTest.java
Labels: :hammer: feature, :desktop_computer: backend, 👁 log

#467 [Feature/BE] 요청 처리 소요 시간 로깅 구현
  backend/src/main/java/com/woowacourse/f12/config/LoggingConfig.java
  backend/src/main/java/com/woowacourse/f12/presentation/LoggingInterceptor.java
  backend/src/test/java/com/woowacourse/f12/presentation/ControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthInterceptorTest.java
Labels: :desktop_computer: backend, :white_check_mark: feature-done

#470 [Feature/BE] 도메인 로직 리팩토링
  backend/src/main/java/com/woowacourse/f12/application/auth/AuthService.java
  backend/src/main/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProduct.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProducts.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/domain/product/Product.java
  backend/src/main/java/com/woowacourse/f12/dto/request/member/MemberRequest.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberWithProfileProductResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/LoggingInterceptor.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductsTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/MemberFixtures.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :white_check_mark: feature-done

#481 [Feature/BE] HTTP 요청마다 쿼리 개수를 세는 기능 구현
  backend/src/main/java/com/woowacourse/f12/config/HibernateConfig.java
  backend/src/main/java/com/woowacourse/f12/logging/ApiQueryCounter.java
  backend/src/main/java/com/woowacourse/f12/logging/ApiQueryInspector.java
  backend/src/main/java/com/woowacourse/f12/logging/LoggingInterceptor.java
  backend/src/main/resources/log4j2/log4j2-local.xml
  backend/src/main/resources/log4j2/log4j2-main.xml
  backend/src/main/resources/log4j2/log4j2-release.xml
  backend/src/test/java/com/woowacourse/f12/logging/ApiQueryCounterTest.java
  backend/src/test/java/com/woowacourse/f12/logging/ApiQueryInspectorTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/PresentationTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthPresentationTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductPresentationTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberPresentationTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductPresentationTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewPresentationTest.java
Labels: :hammer: feature, :desktop_computer: backend, 👁 log

#475 [Feature/BE] 리뷰가 삭제되면 등록 장비도 삭제되도록 수정
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepository.java
  backend/src/test/java/com/woowacourse/f12/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :memo: review, :briefcase: inventory

#485 [FE] 페이지 전반에 애니메이션 추가
  frontend/src/assets/F12LOAD.gif
  frontend/src/components/Product/ProductCard/ProductCard.style.tsx
  frontend/src/components/Product/ProductCard/ProductCard.tsx
  frontend/src/components/Product/ProductListSection/ProductListSection.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.tsx
  frontend/src/components/Review/ReviewBottomSheet/ReviewBottomSheet.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.tsx
  frontend/src/components/Review/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/BottomSheet/BottomSheet.style.tsx
  frontend/src/components/common/BottomSheet/BottomSheet.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.style.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.style.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/components/common/Loading/Loading.tsx
  frontend/src/components/common/Masonry/Masonry.tsx
  frontend/src/components/common/Modal/Modal.style.tsx
  frontend/src/components/common/Modal/Modal.tsx
  frontend/src/contexts/ModalContextProvider.tsx
  frontend/src/hooks/useAnimation.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Product/Product.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
  frontend/src/style/GlobalStyles.tsx
  frontend/src/types/image.d.ts
Labels: :computer: frontend, :iphone: ui

#486 [FE] 페이지 전반에 애니메이션 추가 (#485)
  frontend/src/assets/F12LOAD.gif
  frontend/src/components/Product/ProductCard/ProductCard.style.tsx
  frontend/src/components/Product/ProductCard/ProductCard.tsx
  frontend/src/components/Product/ProductListSection/ProductListSection.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.tsx
  frontend/src/components/Review/ReviewBottomSheet/ReviewBottomSheet.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.tsx
  frontend/src/components/Review/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/BottomSheet/BottomSheet.style.tsx
  frontend/src/components/common/BottomSheet/BottomSheet.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.style.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.style.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/components/common/Loading/Loading.tsx
  frontend/src/components/common/Masonry/Masonry.tsx
  frontend/src/components/common/Modal/Modal.style.tsx
  frontend/src/components/common/Modal/Modal.tsx
  frontend/src/contexts/ModalContextProvider.tsx
  frontend/src/hooks/useAnimation.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Product/Product.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
  frontend/src/style/GlobalStyles.tsx
  frontend/src/types/image.d.ts
Labels: :computer: frontend, :iphone: ui, :white_check_mark: feature-done

#491 [Bugfix/FE] 프로필 검색 요청 시 잘못된 키워드 수정
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
Labels: :wrench: fix_issue, :computer: frontend

#493 [FE] 프로필 페이지의 UI를 개선
  frontend/src/assets/logo.svg
  frontend/src/components/DeskSetup/DeskSetup.stories.tsx
  frontend/src/components/DeskSetup/DeskSetup.style.tsx
  frontend/src/components/DeskSetup/DeskSetup.tsx
  frontend/src/components/DeskSetupCard/DeskSetup.stories.tsx
  frontend/src/components/DeskSetupCard/DeskSetupCard.style.tsx
  frontend/src/components/DeskSetupCard/DeskSetupCard.tsx
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.style.tsx
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.tsx
  frontend/src/components/Profile/ProductSelect/ProductSelect.stories.tsx
  frontend/src/components/Profile/ProductSelect/ProductSelect.style.tsx
  frontend/src/components/Profile/ProductSelect/ProductSelect.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.style.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.tsx
  frontend/src/components/common/SectionHeader/SectionHeader.style.tsx
  frontend/src/pages/Profile/Profile.style.tsx
  frontend/src/pages/Profile/Profile.tsx
Labels: :computer: frontend, :iphone: ui, :man: profile

#494 [Feature/FE] 프로필 페이지의 UI를 개선
  frontend/src/assets/logo.svg
  frontend/src/components/DeskSetup/DeskSetup.stories.tsx
  frontend/src/components/DeskSetup/DeskSetup.style.tsx
  frontend/src/components/DeskSetup/DeskSetup.tsx
  frontend/src/components/DeskSetupCard/DeskSetup.stories.tsx
  frontend/src/components/DeskSetupCard/DeskSetupCard.style.tsx
  frontend/src/components/DeskSetupCard/DeskSetupCard.tsx
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.style.tsx
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.tsx
  frontend/src/components/Profile/ProductSelect/ProductSelect.stories.tsx
  frontend/src/components/Profile/ProductSelect/ProductSelect.style.tsx
  frontend/src/components/Profile/ProductSelect/ProductSelect.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.style.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.tsx
  frontend/src/components/common/SectionHeader/SectionHeader.style.tsx
  frontend/src/pages/Profile/Profile.style.tsx
  frontend/src/pages/Profile/Profile.tsx
Labels: :computer: frontend, :iphone: ui, :white_check_mark: feature-done, :man: profile

#498 [BugFix/BE] 로그에 QueryParam이 출력되지 않는 문제 해결
  backend/src/main/java/com/woowacourse/f12/logging/LoggingFilter.java
Labels: :wrench: fix_issue, :desktop_computer: backend, 👁 log

#502 [Feature/FE] 리뷰 작성자 판단 여부를 API로부터 받아오도록 설정
  frontend/src/components/Review/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.tsx
  frontend/src/components/Review/ReviewListSection/ReviewListSection.tsx
  frontend/src/hooks/api/useDelete.tsx
  frontend/src/hooks/api/usePost.tsx
  frontend/src/hooks/api/usePut.tsx
  frontend/src/hooks/useReviews.tsx
  frontend/src/mocks/data.ts
  frontend/src/types/review.d.ts
Labels: :computer: frontend, :hammer_and_wrench: refactoring

#504 [Feature/FE] 루트를 새로 렌더링 할 때 페이지 최상단으로 스크롤하도록 수정
  frontend/src/pages/common/PageLayout/PageLayout.tsx
Labels: :wrench: fix_issue, :computer: frontend, :iphone: ui

#497 [BugFix] 소나큐브 테스트 커버리지 결과 수정 및 리포트 결과 정상화
  .github/workflows/backend.yml
  backend/build.gradle
Labels: :wrench: fix_issue, :gear: infra, :desktop_computer: backend

#508 [Bugfix/FE] 타인의 프로필에서 상단바 내 프로필 링크 활성화 되는 오류를 수정
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/constants/routes.ts
  frontend/src/pages/index.tsx
Labels: :wrench: fix_issue, :computer: frontend, :iphone: ui

#510 [BE] 사용자 follow 기능을 구현
  backend/src/docs/asciidoc/error.adoc
  backend/src/docs/asciidoc/members.adoc
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Following.java
  backend/src/main/java/com/woowacourse/f12/domain/member/FollowingRepository.java
  backend/src/main/java/com/woowacourse/f12/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/AlreadyFollowingException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/SelfFollowException.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/MemberController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/support/RestAssuredRequestUtil.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/FollowingTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, 🧑‍💻member

#507 [BugFix/FE] 프로필 UI 버그 수정
  frontend/src/components/DeskSetup/DeskSetup.style.tsx
  frontend/src/components/DeskSetup/DeskSetup.tsx
  frontend/src/components/DeskSetupCard/DeskSetupCard.style.tsx
  frontend/src/components/DeskSetupCard/DeskSetupCard.tsx
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.style.tsx
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.style.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.tsx
  frontend/src/mocks/data.ts
  frontend/src/pages/Profile/Profile.style.tsx
  frontend/src/pages/Profile/Profile.tsx
Labels: :wrench: fix_issue, :computer: frontend

#503 [Feature/FE] 리뷰 작성자 판단 여부를 API로부터 받아오도록 설정
  frontend/src/components/Review/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.tsx
  frontend/src/components/Review/ReviewListSection/ReviewListSection.tsx
  frontend/src/hooks/api/useDelete.tsx
  frontend/src/hooks/api/usePost.tsx
  frontend/src/hooks/api/usePut.tsx
  frontend/src/hooks/useReviews.tsx
  frontend/src/mocks/data.ts
  frontend/src/types/review.d.ts
Labels: :computer: frontend, :hammer_and_wrench: refactoring, :memo: review

#505 [Feature/FE] 루트를 새로 렌더링 할 때 페이지 최상단으로 스크롤하도록 수정
  frontend/src/pages/common/PageLayout/PageLayout.tsx
Labels: :wrench: fix_issue, :computer: frontend, :iphone: ui

#509 [Bugfix/FE] 타인의 프로필에서 상단바 내 프로필 링크 활성화 되는 오류를 수정
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/constants/routes.ts
  frontend/src/pages/index.tsx
Labels: :wrench: fix_issue, :computer: frontend, :iphone: ui

#513 [BE] 사용자를 unfollow 하는 기능 구현
  backend/src/docs/asciidoc/error.adoc
  backend/src/docs/asciidoc/members.adoc
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/FollowingRepository.java
  backend/src/main/java/com/woowacourse/f12/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/NotFollowingException.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/MemberController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/FollowingRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, 🧑‍💻member

#516 [Feature/FE] 팔로잉 페이지 UI 구현
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.style.tsx
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/routes.ts
  frontend/src/hooks/useSearch.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
  frontend/src/pages/index.tsx
Labels: :hammer: feature, :computer: frontend, :iphone: ui

#517 [Feature/FE] 팔로잉 페이지 UI 구현
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.style.tsx
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/routes.ts
  frontend/src/hooks/useSearch.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
  frontend/src/pages/index.tsx
Labels: :hammer: feature, :computer: frontend, :iphone: ui

#518 [Feature/BE] 제품 리뷰 목록 조회 시 수정 및 삭제 가능 여부 기능 구현
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithAuthorPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithAuthorResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthArgumentResolver.java
  backend/src/main/java/com/woowacourse/f12/presentation/review/ReviewController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewPresentationTest.java
Labels: :hammer: feature, :desktop_computer: backend, :memo: review

#499 [BugFix/BE] 로그에 QueryParam이 출력되지 않는 문제 해결 (#498)
  backend/src/main/java/com/woowacourse/f12/logging/LoggingFilter.java
Labels: :wrench: fix_issue, :desktop_computer: backend, 👁 log

#506 [BugFix/BE] AsyncLogger에서 AsyncAppender 사용으로 변경
  backend/build.gradle
  backend/src/main/resources/log4j2/log4j2-main.xml
  backend/src/main/resources/log4j2/log4j2-release.xml
Labels: :wrench: fix_issue, :desktop_computer: backend, 👁 log

#522 [BE] 회원의 follow 여부를 보여주는 기능 추가
  backend/src/docs/asciidoc/members.adoc
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/FollowingRepository.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/LoggedInMemberResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberWithProfileProductResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthArgumentResolver.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/MemberController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/FollowingRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/FakeGitHubApiController.java
  backend/src/test/java/com/woowacourse/f12/support/GitHubProfileFixtures.java
  backend/src/test/java/com/woowacourse/f12/support/MemberFixtures.java
Labels: :hammer: feature, :desktop_computer: backend, 🧑‍💻member

#523 [FE] 사용자가 제품에 작성한 리뷰를 1:1로 조회하는 기능을 구현
  frontend/src/components/DeskSetup/DeskSetup.tsx
  frontend/src/components/DeskSetupCard/DeskSetupCard.tsx
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.tsx
  frontend/src/components/common/Modal/Modal.style.tsx
  frontend/src/constants/api.ts
  frontend/src/contexts/ModalContextProvider.tsx
  frontend/src/hooks/useModal.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/types/review.d.ts
Labels: :hammer: feature, :computer: frontend, :memo: review, :briefcase: inventory

#526 [BE] 팔로잉하는 사용자 목록을 조회 기능 구현
  backend/src/docs/asciidoc/members.adoc
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustom.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberWithProfileProductResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/MemberController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, 🧑‍💻member

#519 [Feature/BE] 제품 리뷰 목록 조회 시 수정 및 삭제 가능 여부 기능 구현
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithAuthorPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithAuthorResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthArgumentResolver.java
  backend/src/main/java/com/woowacourse/f12/presentation/review/ReviewController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewPresentationTest.java
Labels: :desktop_computer: backend, :memo: review, :white_check_mark: feature-done

#527 [Feature/FE] 사용자 팔로우 기능 구현
  frontend/src/components/DeskSetup/DeskSetup.tsx
  frontend/src/components/DeskSetupCard/DeskSetupCard.tsx
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.stories.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.tsx
  frontend/src/components/common/Modal/Modal.style.tsx
  frontend/src/constants/api.ts
  frontend/src/contexts/ModalContextProvider.tsx
  frontend/src/hooks/api/useDelete.tsx
  frontend/src/hooks/useFollowing.tsx
  frontend/src/hooks/useModal.tsx
  frontend/src/hooks/useReviews.tsx
  frontend/src/hooks/useSearch.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
  frontend/src/types/profile.d.ts
  frontend/src/types/review.d.ts
Labels: :hammer: feature, :computer: frontend, 🧑‍💻member

#524 [Feature/FE] 사용자가 제품에 작성한 리뷰를 1:1로 조회하는 기능을 구현
  frontend/src/components/DeskSetup/DeskSetup.tsx
  frontend/src/components/DeskSetupCard/DeskSetupCard.tsx
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.tsx
  frontend/src/components/common/Modal/Modal.style.tsx
  frontend/src/constants/api.ts
  frontend/src/contexts/ModalContextProvider.tsx
  frontend/src/hooks/useModal.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/types/review.d.ts
Labels: :computer: frontend, :memo: review, :white_check_mark: feature-done, :briefcase: inventory

#528 [Feature/FE] 사용자 팔로우 기능 구현
  frontend/src/components/DeskSetupCard/DeskSetupCard.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.stories.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/api/useDelete.tsx
  frontend/src/hooks/useFollowing.tsx
  frontend/src/hooks/useReviews.tsx
  frontend/src/hooks/useSearch.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
  frontend/src/types/profile.d.ts
Labels: :computer: frontend, :man: profile, 🧑‍💻member

#530 [Feature/BE] 회원 팔로우 기능을 구현
  backend/src/docs/asciidoc/error.adoc
  backend/src/docs/asciidoc/members.adoc
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Following.java
  backend/src/main/java/com/woowacourse/f12/domain/member/FollowingRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustom.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/domain/product/Product.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/LoggedInMemberResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberWithProfileProductResponse.java
  backend/src/main/java/com/woowacourse/f12/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/AlreadyFollowingException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/NotFollowingException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/SelfFollowException.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthArgumentResolver.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/MemberController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/support/RestAssuredRequestUtil.java
  backend/src/test/java/com/woowacourse/f12/application/auth/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/FollowingRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/FollowingTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberPresentationTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/FakeGitHubApiController.java
  backend/src/test/java/com/woowacourse/f12/support/GitHubProfileFixtures.java
  backend/src/test/java/com/woowacourse/f12/support/MemberFixtures.java
Labels: :desktop_computer: backend, :white_check_mark: feature-done, 🧑‍💻member

#532 [Bugfix/FE] 프로필 페이지 리뷰 조회 오류 수정
  frontend/src/components/DeskSetup/DeskSetup.tsx
  frontend/src/components/DeskSetupCard/DeskSetupCard.style.tsx
  frontend/src/components/DeskSetupCard/DeskSetupCard.tsx
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.tsx
  frontend/src/constants/api.ts
Labels: :wrench: fix_issue, :computer: frontend

#535 [Bugfix/FE] 팔로우 관련 오류를 수정
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.style.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/api/usePost.tsx
  frontend/src/hooks/useError.tsx
  frontend/src/hooks/useFollowing.tsx
  frontend/src/hooks/useInventory.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Profile/Profile.tsx
Labels: :wrench: fix_issue, :computer: frontend

#537 [Bugfix/FE] 팔로우 요청시 불필요한 payload가 전송되는 오류 수정
  frontend/src/hooks/api/usePost.tsx
  frontend/src/hooks/useFollowing.tsx
Labels: :wrench: fix_issue, :computer: frontend

#539 [Bugfix/BE] 사용자 팔로우 언팔로우 Transactional 적용되지 않는 현상 수정
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
Labels: :bug: bug_report, :desktop_computer: backend

#542 [Bugfix/FE] 팔로우 관련 오류 수정
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.tsx
  frontend/src/constants/messages.ts
  frontend/src/hooks/useFollowing.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
Labels: :wrench: fix_issue, :computer: frontend

#544 [Bugfix/FE] body가 없는 POST 요청에서 발생하는 오류 임시 해결
  frontend/src/hooks/api/usePost.tsx
Labels: :wrench: fix_issue, :computer: frontend
