Repository woowacourse-teams/2022-f12, pull requests merged in 2022-07, with the labels that each got.

#15 [BE] 리뷰 도메인의 별점을 검증한다.
  backend/src/main/java/com/woowacourse/f12/domain/Review.java
  backend/src/main/java/com/woowacourse/f12/exception/InvalidRatingValueException.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/ReviewTest.java
Labels: feature, backend, reveiw

#16 [BE] 스프링부트의 설정으로부터 Jpa 설정을 분리한다.
  backend/src/main/java/com/woowacourse/f12/F12Application.java
  backend/src/main/java/com/woowacourse/f12/config/JpaConfig.java
  backend/src/test/java/com/woowacourse/f12/F12ApplicationTests.java
  backend/src/test/java/com/woowacourse/f12/domain/ReviewRepositoryTest.java
Labels: backend, refactoring

#18 [BE] 페이징 요청의 크기가 최대 제한 크기를 넘어갔을 때 예외를 발생시키는 기능 추가
  backend/src/main/java/com/woowacourse/f12/config/WebConfig.java
  backend/src/main/java/com/woowacourse/f12/exception/InvalidPageSizeException.java
  backend/src/main/java/com/woowacourse/f12/presentation/CustomPageableHandlerArgumentResolver.java
Labels: feature, backend

#20 [BE] 키보드 목록을 페이징하여 조회한다.
  backend/src/main/java/com/woowacourse/f12/application/KeyboardService.java
  backend/src/main/java/com/woowacourse/f12/domain/Keyboard.java
  backend/src/main/java/com/woowacourse/f12/domain/KeyboardRepository.java
  backend/src/main/java/com/woowacourse/f12/dto/response/KeyboardPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/KeyboardResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/KeyboardController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/KeyboardAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/KeyboardServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/KeyboardRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/ReviewRepositoryTest.java
Labels: feature, backend, product

#23 [BE] 키보드 도메인에 필요한 이미지 url 필드 추가
  backend/src/main/java/com/woowacourse/f12/domain/Keyboard.java
  backend/src/main/java/com/woowacourse/f12/dto/response/KeyboardResponse.java
  backend/src/test/java/com/woowacourse/f12/acceptance/KeyboardAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/KeyboardRepositoryTest.java
Labels: feature, backend, product

#25 [BE] 리뷰 내용을 검증하는 기능 구현
  backend/src/main/java/com/woowacourse/f12/domain/Review.java
  backend/src/main/java/com/woowacourse/f12/exception/BlankContentException.java
  backend/src/main/java/com/woowacourse/f12/exception/InvalidContentLengthException.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/ReviewTest.java
Labels: feature, backend, reveiw

#33 chore: GitHub Actions 설정
  .github/workflows/backend.yml
Labels: infra, backend

#34 [BE] GitHub Actions 스크립트에 working directory 추가
  .github/workflows/backend.yml
Labels: infra, backend

#35 [BE] yml syntax 오류 수정
  .github/workflows/backend.yml
Labels: infra, backend

#36 [BE] CI 스크립트 문법 오류 수정
  .github/workflows/backend.yml
Labels: infra, backend

#38 [BE] DB 제약조건을 Entity에 추가
  backend/src/main/java/com/woowacourse/f12/domain/Keyboard.java
  backend/src/main/java/com/woowacourse/f12/domain/Review.java
Labels: feature, backend

#39 [BE] API 예외 처리 구현
  backend/src/main/java/com/woowacourse/f12/dto/response/ExceptionResponse.java
  backend/src/main/java/com/woowacourse/f12/exception/BlankContentException.java
  backend/src/main/java/com/woowacourse/f12/exception/InvalidContentLengthException.java
  backend/src/main/java/com/woowacourse/f12/exception/InvalidPageSizeException.java
  backend/src/main/java/com/woowacourse/f12/exception/InvalidRatingValueException.java
  backend/src/main/java/com/woowacourse/f12/exception/InvalidValueException.java
  backend/src/main/java/com/woowacourse/f12/exception/KeyboardNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/NotFoundException.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
Labels: feature, backend

#40 [BE] CORS를 임시로 허용한다.
  backend/src/main/java/com/woowacourse/f12/config/WebConfig.java
  backend/src/test/java/com/woowacourse/f12/config/WebConfigTest.java
Labels: feature, backend

#47 [BE] CustomPageableHandlerArgumentResolver 이름 변경
  backend/src/main/java/com/woowacourse/f12/config/WebConfig.java
  backend/src/main/java/com/woowacourse/f12/presentation/CustomPageableHandlerMethodArgumentResolver.java
Labels: backend, refactoring

#49 [BE] DTO의 필드 정보 변경
  backend/src/main/java/com/woowacourse/f12/domain/Review.java
  backend/src/main/java/com/woowacourse/f12/dto/response/KeyboardPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/ReviewPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/ReviewResponse.java
  backend/src/test/java/com/woowacourse/f12/acceptance/KeyboardAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/KeyboardServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
Labels: backend, refactoring, review

#51 [FE] API 요청 훅 구현
  frontend/src/components/common/ReviewForm/ReviewForm.tsx
  frontend/src/constants/api.ts
  frontend/src/custom.d.ts
  frontend/src/hooks/api/axiosInstance.ts
  frontend/src/hooks/api/useGetMany.tsx
  frontend/src/hooks/api/useGetOne.tsx
  frontend/src/hooks/api/usePost.tsx
  frontend/src/hooks/useProduct.tsx
  frontend/src/hooks/useProducts.tsx
  frontend/src/hooks/useReviews.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Product/Product.tsx
  frontend/src/pages/Products/Products.tsx
Labels: frontend, refactoring

#55 [BE] Controller를 테스트
  backend/src/test/java/com/woowacourse/f12/presentation/KeyboardControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/ReviewControllerTest.java
Labels: backend, test

#58 [BE] 프론트엔드와 연결을 위한 설정 완료
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/ReviewController.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/ReviewControllerTest.java
  backend/src/test/resources/application.yml
Labels: fix_issue, backend

#60 [FE]API 연결 시 발생한 오류 수정
  frontend/src/constants/api.ts
  frontend/src/hooks/api/useGetMany.tsx
  frontend/src/hooks/api/usePost.tsx
  frontend/src/hooks/useProducts.tsx
  frontend/src/hooks/useReviews.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Products/Products.tsx
Labels: fix_issue, frontend

#61 [FE] id 기반 라우팅, api 요청 추가, 기타 오류 수정
  frontend/src/components/ProductListSection/ProductListSection.tsx
  frontend/src/components/common/Rating/heart.svg
  frontend/src/components/common/RatingInput/heart_empty.svg
  frontend/src/components/common/RatingInput/heart_filled.svg
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Product/Product.tsx
  frontend/src/pages/index.tsx
  frontend/webpack.config.js
Labels: fix_issue, frontend

#64 [FE] API base url 수정, 정렬 관련 오류 수정
  frontend/src/constants/api.ts
  frontend/src/hooks/useProducts.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/webpack.config.js
Labels: fix_issue, frontend

#65 [BE] 상품에 대한 리뷰를 저장 및 조회할 때 상품이 존재하는지 확인
  backend/src/main/java/com/woowacourse/f12/application/ReviewService.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/ReviewControllerTest.java
Labels: fix_issue, backend

#67 [BE] 페이징 조회 요청에서 size 값 null 체크
  backend/src/main/java/com/woowacourse/f12/presentation/CustomPageableHandlerMethodArgumentResolver.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableHandlerMethodArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/KeyboardControllerTest.java
Labels: fix_issue, backend

#66 [FE] 무한 스크롤 오류 수정 및 기타 피드백 수정
  frontend/src/components/ProductListSection/ProductListSection.tsx
  frontend/src/index.tsx
  frontend/src/mocks/data.ts
  frontend/src/pages/Products/Products.tsx
Labels: fix_issue, frontend

#68 [BE] 테스트 반복 코드 제거
  backend/src/test/java/com/woowacourse/f12/acceptance/KeyboardAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/KeyboardServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/KeyboardRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/KeyboardControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/KeyboardFixtures.java
  backend/src/test/java/com/woowacourse/f12/support/ReviewFixtures.java
Labels: backend, test

#70 [FE] Masonry 구현 및 반영, 기타 목록 스타일 일부 수정
  frontend/src/components/ProductListSection/ProductListSection.style.tsx
  frontend/src/components/ProductListSection/ProductListSection.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.style.tsx
  frontend/src/components/common/Masonry/Masonry.style.tsx
  frontend/src/components/common/Masonry/Masonry.tsx
  frontend/src/components/common/ProductCard/ProductCard.style.tsx
  frontend/src/components/common/ProductCard/ProductCard.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.style.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/common/ReviewForm/ReviewForm.style.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Product/Product.style.tsx
Labels: frontend, refactoring, ui

#72 [FE] Masonry 컴포넌트 리팩토링 및 리뷰 목록 페이지 수정
  frontend/src/components/ReviewListSection/ReviewListSection.style.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/Masonry/Masonry.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Product/Product.tsx
Labels: frontend, refactoring

#73 fix: 스토리 형식 통일
  frontend/src/components/ProductListSection/ProductListSection.stories.tsx
  frontend/src/components/ProductListSection/ProductListSection.tsx
  frontend/src/components/ProductListSection/sample_keyboard.jpg
  frontend/src/components/ReviewListSection/ReviewListSection.stories.tsx
  frontend/src/components/ReviewListSection/sample_profile.jpg
  frontend/src/components/common/Header/Header.stories.tsx
  frontend/src/components/common/ProductCard/ProductCard.stories.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.stories.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.tsx
  frontend/src/components/common/ProductDetail/sample_keyboard.jpg
  frontend/src/components/common/Rating/Rating.stories.tsx
  frontend/src/components/common/RatingInput/RatingInput.stories.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.stories.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.tsx
  frontend/src/components/common/ReviewCard/sample_profile.jpg
  frontend/src/components/common/ReviewForm/ReviewForm.stories.tsx
  frontend/src/components/common/SectionHeader/SectionHeader.stories.tsx
  frontend/src/components/common/Select/Select.stories.tsx
  frontend/src/components/common/UserNameTag/UserNameTag.stories.tsx
Labels: frontend, refactoring

#75 [FE] import 절대 경로 설정 및 적용
  frontend/.storybook/main.js
  frontend/src/App.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/hooks/api/axiosInstance.ts
  frontend/src/hooks/api/useGetMany.tsx
  frontend/src/hooks/api/useGetOne.tsx
  frontend/src/hooks/api/usePost.tsx
  frontend/src/hooks/useProduct.tsx
  frontend/src/hooks/useProducts.tsx
  frontend/src/hooks/useReviews.tsx
  frontend/src/index.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Product/Product.tsx
  frontend/src/pages/Product/mockData.ts
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/common/PageLayout/PageLayout.tsx
  frontend/src/pages/index.tsx
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: frontend, refactoring

#78 [BE] 리뷰 도메인과 키보드 도메인 연관관계 추가
  backend/src/main/java/com/woowacourse/f12/application/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/Review.java
  backend/src/main/java/com/woowacourse/f12/domain/ReviewRepository.java
  backend/src/main/java/com/woowacourse/f12/dto/request/ReviewRequest.java
  backend/src/main/java/com/woowacourse/f12/dto/response/ReviewResponse.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/KeyboardRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/ReviewFixtures.java
Labels: feature, backend, review

#80 [FE] API URL 수정
  frontend/src/constants/api.ts
Labels: frontend

#81 [BE] 키보드 정보가 필요한 리뷰 DTO 생성
  backend/src/main/java/com/woowacourse/f12/application/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/dto/response/KeyboardForReviewResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/ReviewWithProductPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/ReviewWithProductResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/ReviewController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/ReviewControllerTest.java
Labels: feature, backend, review

#82 [BE] 페이지 조회 요청에서 NumberFormat 체크하여 예외 처리하도록 수정
  backend/src/main/java/com/woowacourse/f12/exception/InvalidPageNumberFormatException.java
  backend/src/main/java/com/woowacourse/f12/exception/InvalidPageSizeFormatException.java
  backend/src/main/java/com/woowacourse/f12/presentation/CustomPageableHandlerMethodArgumentResolver.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableHandlerMethodArgumentResolverTest.java
Labels: fix_issue, backend

#91 [BE] Spring REST Docs 적용
  backend/build.gradle
  backend/src/docs/asciidoc/keyboards.adoc
  backend/src/docs/asciidoc/reviews.adoc
  backend/src/test/java/com/woowacourse/f12/documentation/Documentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/KeyboardDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/RestDocsConfig.java
  backend/src/test/java/com/woowacourse/f12/documentation/ReviewDocumentation.java
Labels: documentation, backend

#92 [BE] Spring Validation 리뷰 생성 요청에 적용
  backend/build.gradle
  backend/src/main/java/com/woowacourse/f12/dto/request/ReviewRequest.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/ReviewController.java
  backend/src/test/java/com/woowacourse/f12/presentation/ReviewControllerTest.java
Labels: feature, backend, review

#96 [HotFix] backend build workflow 수정
  .github/workflows/backend.yml
Labels: backend, hotfix

#100 [FE] 리뷰카드에 상품 정보 표기 구현
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.tsx
  frontend/src/custom.d.ts
  frontend/src/mocks/data.ts
  frontend/src/pages/Home/Home.tsx
Labels: :computer: frontend, :iphone: ui

#105 [BE] GitHub Oauth 로그인 기능 구현
  backend/.gitignore
  backend/build.gradle
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/keyboards.adoc
  backend/src/docs/asciidoc/reviews.adoc
  backend/src/main/java/com/woowacourse/f12/application/AuthService.java
  backend/src/main/java/com/woowacourse/f12/application/GitHubOauthClient.java
  backend/src/main/java/com/woowacourse/f12/application/JwtProvider.java
  backend/src/main/java/com/woowacourse/f12/domain/Member.java
  backend/src/main/java/com/woowacourse/f12/domain/MemberRepository.java
  backend/src/main/java/com/woowacourse/f12/dto/request/GitHubTokenRequest.java
  backend/src/main/java/com/woowacourse/f12/dto/response/GitHubProfileResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/GitHubTokenResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/LoginResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/MemberResponse.java
  backend/src/main/java/com/woowacourse/f12/exception/ExternalServerException.java
  backend/src/main/java/com/woowacourse/f12/exception/GitHubServerException.java
  backend/src/main/java/com/woowacourse/f12/exception/InvalidGitHubLoginException.java
  backend/src/main/java/com/woowacourse/f12/presentation/AuthController.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/woowacourse/f12/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/GitHubOauthClientTest.java
  backend/src/test/java/com/woowacourse/f12/application/JwtProviderTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/AuthDocumentation.java
  backend/src/test/java/com/woowacourse/f12/presentation/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/FakeGitHubApiController.java
  backend/src/test/java/com/woowacourse/f12/support/MemberFixtures.java
  backend/src/test/resources/application.yml
Labels: :hammer: feature, :desktop_computer: backend, :key: auth

#107 [FE] 추가 정보 입력 페이지 구현
  frontend/src/components/common/Stepper/Stepper.stories.tsx
  frontend/src/components/common/Stepper/Stepper.style.ts
  frontend/src/components/common/Stepper/Stepper.tsx
  frontend/src/constants/routes.ts
  frontend/src/pages/Register/Register.style.tsx
  frontend/src/pages/Register/Register.tsx
  frontend/src/pages/index.tsx
Labels: :computer: frontend, :iphone: ui

#103 [Release] 전체 리뷰 조회 시 키보드 상품 정보가 리뷰에 담기도록 구현
  backend/src/main/java/com/woowacourse/f12/application/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/Review.java
  backend/src/main/java/com/woowacourse/f12/domain/ReviewRepository.java
  backend/src/main/java/com/woowacourse/f12/dto/request/ReviewRequest.java
  backend/src/main/java/com/woowacourse/f12/dto/response/KeyboardForReviewResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/ReviewResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/ReviewWithProductPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/ReviewWithProductResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/ReviewController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/ReviewDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/KeyboardRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/ReviewFixtures.java
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.tsx
  frontend/src/custom.d.ts
  frontend/src/mocks/data.ts
  frontend/src/pages/Home/Home.tsx
Labels: :computer: frontend, :desktop_computer: backend, :white_check_mark: feature-done

#109 [BE] 인증 과정에서 읽기 전용 트랜잭션이 적용되는 오류 수정
  backend/src/main/java/com/woowacourse/f12/application/AuthService.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :key: auth

#110 [FE] 상품 카드, 리뷰 카드 스타일 수정 및 목록 레이아웃 스타일 수정
  frontend/src/components/ProductListSection/ProductListSection.style.tsx
  frontend/src/components/ProductListSection/ProductListSection.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.stories.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.style.tsx
  frontend/src/components/common/Masonry/Masonry.style.tsx
  frontend/src/components/common/ProductCard/ProductCard.style.tsx
  frontend/src/components/common/ProductCard/ProductCard.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.style.tsx
  frontend/src/components/common/Rating/Rating.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.stories.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.tsx
  frontend/src/components/common/SectionHeader/SectionHeader.style.tsx
  frontend/src/custom.d.ts
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/common/PageLayout/PageLayout.style.tsx
Labels: :computer: frontend, :memo: review, :package: product, :iphone: ui

#113 [FE] 리뷰 작성 및 제출 시 UI 및 작동 로직 수정
  frontend/src/components/ReviewBottomSheet/ReviewBottomSheet.style.tsx
  frontend/src/components/ReviewBottomSheet/ReviewBottomSheet.tsx
  frontend/src/components/common/BottomSheet/BottomSheet.style.tsx
  frontend/src/components/common/BottomSheet/BottomSheet.tsx
  frontend/src/components/common/FloatingButton/FloatingButton.stories.tsx
  frontend/src/components/common/FloatingButton/FloatingButton.style.tsx
  frontend/src/components/common/FloatingButton/FloatingButton.tsx
  frontend/src/components/common/FloatingButton/plus.svg
  frontend/src/hooks/api/useGetMany.tsx
  frontend/src/hooks/useReviews.tsx
  frontend/src/pages/Product/Product.tsx
  frontend/src/style/GlobalStyles.tsx
Labels: :hammer: feature, :computer: frontend, :iphone: ui

#114 [BE] 리뷰 작성에 로그인 검증 기능을 추가
  backend/src/main/java/com/woowacourse/f12/application/JwtProvider.java
  backend/src/main/java/com/woowacourse/f12/application/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/config/WebConfig.java
  backend/src/main/java/com/woowacourse/f12/domain/Review.java
  backend/src/main/java/com/woowacourse/f12/domain/ReviewRepository.java
  backend/src/main/java/com/woowacourse/f12/dto/request/ReviewRequest.java
  backend/src/main/java/com/woowacourse/f12/dto/response/KeyboardForReviewResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/ReviewResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/ReviewWithProductPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/ReviewWithProductResponse.java
  backend/src/main/java/com/woowacourse/f12/exception/MemberNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/UnAuthorizedException.java
  backend/src/main/java/com/woowacourse/f12/presentation/Auth.java
  backend/src/main/java/com/woowacourse/f12/presentation/AuthArgumentResolver.java
  backend/src/main/java/com/woowacourse/f12/presentation/AuthInterceptor.java
  backend/src/main/java/com/woowacourse/f12/presentation/AuthPrincipal.java
  backend/src/main/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolver.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/ReviewController.java
  backend/src/main/java/com/woowacourse/f12/support/AuthTokenExtractor.java
  backend/src/test/java/com/woowacourse/f12/acceptance/KeyboardAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/support/RestAssuredRequestUtil.java
  backend/src/test/java/com/woowacourse/f12/application/JwtProviderTest.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/Documentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/ReviewDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/KeyboardRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/AuthInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/KeyboardControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/AuthTokenExtractorTest.java
  backend/src/test/java/com/woowacourse/f12/support/ReviewFixtures.java
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.tsx
  frontend/src/custom.d.ts
  frontend/src/mocks/data.ts
  frontend/src/pages/Home/Home.tsx
Labels: :hammer: feature, :desktop_computer: backend, :key: auth

#117 [BE] Interceptor와 Resolver를 스프링 빈으로 만들어 한 번에 주입받아 등록하도록 변경
  backend/src/main/java/com/woowacourse/f12/config/WebConfig.java
  backend/src/main/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolver.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring

#119 [FE] 테마 적용
  frontend/src/assets/HeaderLogo.svg
  frontend/src/assets/heart.svg
  frontend/src/assets/heart_empty.svg
  frontend/src/assets/plus.svg
  frontend/src/components/common/FloatingButton/FloatingButton.stories.tsx
  frontend/src/components/common/FloatingButton/plus.svg
  frontend/src/components/common/HeaderLogo/HeaderLogo.tsx
  frontend/src/components/common/Rating/Rating.tsx
  frontend/src/components/common/RatingInput/RatingInput.tsx
  frontend/src/components/common/RatingInput/heart_filled.svg
  frontend/src/components/common/ReviewForm/ReviewForm.style.tsx
  frontend/src/components/common/Select/Select.style.tsx
  frontend/src/custom.d.ts
  frontend/src/pages/Product/Product.tsx
  frontend/src/style/theme.ts
  frontend/src/styled.d.ts
Labels: :computer: frontend, :hammer_and_wrench: refactoring, :iphone: ui

#120 [FE] 리뷰 입력란 검증 강화 (빈 칸)
  frontend/src/components/common/ReviewForm/ReviewForm.tsx
Labels: :bug: bug_report, :computer: frontend

#121 [FE] 입력란 유효성 검증 오류 시 UI 추가
  frontend/src/components/common/ReviewForm/ReviewForm.style.tsx
  frontend/src/components/common/ReviewForm/ReviewForm.tsx
Labels: :hammer: feature, :computer: frontend, :iphone: ui

#122 [Release, FE] 스프린트 2 UIUX 적용
  frontend/src/assets/HeaderLogo.svg
  frontend/src/assets/heart.svg
  frontend/src/assets/heart_empty.svg
  frontend/src/assets/plus.svg
  frontend/src/components/ProductListSection/ProductListSection.style.tsx
  frontend/src/components/ProductListSection/ProductListSection.tsx
  frontend/src/components/ReviewBottomSheet/ReviewBottomSheet.style.tsx
  frontend/src/components/ReviewBottomSheet/ReviewBottomSheet.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.stories.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.style.tsx
  frontend/src/components/common/BottomSheet/BottomSheet.style.tsx
  frontend/src/components/common/BottomSheet/BottomSheet.tsx
  frontend/src/components/common/FloatingButton/FloatingButton.stories.tsx
  frontend/src/components/common/FloatingButton/FloatingButton.style.tsx
  frontend/src/components/common/FloatingButton/FloatingButton.tsx
  frontend/src/components/common/HeaderLogo/HeaderLogo.tsx
  frontend/src/components/common/Masonry/Masonry.style.tsx
  frontend/src/components/common/ProductCard/ProductCard.style.tsx
  frontend/src/components/common/ProductCard/ProductCard.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.style.tsx
  frontend/src/components/common/Rating/Rating.tsx
  frontend/src/components/common/RatingInput/RatingInput.tsx
  frontend/src/components/common/RatingInput/heart_filled.svg
  frontend/src/components/common/ReviewCard/ReviewCard.stories.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.tsx
  frontend/src/components/common/ReviewForm/ReviewForm.style.tsx
  frontend/src/components/common/ReviewForm/ReviewForm.tsx
  frontend/src/components/common/SectionHeader/SectionHeader.style.tsx
  frontend/src/components/common/Select/Select.style.tsx
  frontend/src/custom.d.ts
  frontend/src/hooks/api/useGetMany.tsx
  frontend/src/hooks/useReviews.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Product/Product.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/common/PageLayout/PageLayout.style.tsx
  frontend/src/style/GlobalStyles.tsx
  frontend/src/style/theme.ts
  frontend/src/styled.d.ts
Labels: :bug: bug_report, :hammer: feature, :computer: frontend, :iphone: ui, :white_check_mark: feature-done

#124 [FE] 인증 UI 및 API 연결 구현 (로그인, 로그아웃)
  frontend/src/components/Login/Login.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.style.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/components/common/Stepper/Stepper.style.ts
  frontend/src/constants/api.ts
  frontend/src/constants/routes.ts
  frontend/src/contexts/LoginContextProvider.tsx
  frontend/src/custom.d.ts
  frontend/src/hooks/api/useGet.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useSessionStorage.tsx
  frontend/src/index.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Register/Register.style.tsx
  frontend/src/pages/index.tsx
Labels: :hammer: feature, :computer: frontend, :iphone: ui, :key: auth

#127 [BE] 코드 리뷰 사항 반영
  backend/src/main/java/com/woowacourse/f12/application/GitHubOauthClient.java
  backend/src/main/java/com/woowacourse/f12/exception/UnAuthorizedException.java
  backend/src/main/java/com/woowacourse/f12/exception/UnauthorizedException.java
  backend/src/main/java/com/woowacourse/f12/presentation/AuthArgumentResolver.java
  backend/src/main/java/com/woowacourse/f12/presentation/AuthInterceptor.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/support/AuthTokenExtractor.java
  backend/src/test/java/com/woowacourse/f12/support/AuthTokenExtractorTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :key: auth

#128 [BE] 로그인이 필요한 메서드에 붙이는 어노테이션 명 수정
  backend/src/main/java/com/woowacourse/f12/presentation/AuthArgumentResolver.java
  backend/src/main/java/com/woowacourse/f12/presentation/AuthInterceptor.java
  backend/src/main/java/com/woowacourse/f12/presentation/LoginRequired.java
  backend/src/main/java/com/woowacourse/f12/presentation/ReviewController.java
  backend/src/main/java/com/woowacourse/f12/presentation/VerifiedMember.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :key: auth

#131 fix: conflict resolve 시 발생한 스타일 오류 수정
  frontend/src/components/common/ReviewCard/ReviewCard.style.tsx
Labels: :bug: bug_report, :computer: frontend, :fire: hotfix

#134 [Bugfix] github auth url 수정
  frontend/src/constants/api.ts
Labels: :computer: frontend, :fire: hotfix

#136 [BugFix] 로그인 시 code 접근 못하는 버그 수정
  frontend/src/components/Login/Login.tsx
Labels: :computer: frontend, :fire: hotfix

#138 [BugFix] GitHub에 access token 요청할 때 JSON 형태로 요청하도록 수정
  backend/src/main/java/com/woowacourse/f12/application/GitHubOauthClient.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :key: auth

#139 [BugFix] FE 토큰 변수명 수정
  frontend/src/contexts/LoginContextProvider.tsx
  frontend/src/custom.d.ts
  frontend/src/mocks/handlers.ts
Labels: :wrench: fix_issue, :computer: frontend, :key: auth

#150 [BE] 리뷰 작성 시 리뷰에 작성자 정보를 함께 저장
  backend/src/main/java/com/woowacourse/f12/application/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/Review.java
  backend/src/main/java/com/woowacourse/f12/dto/request/ReviewRequest.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/ReviewDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/KeyboardRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/ReviewFixtures.java
Labels: :hammer: feature, :desktop_computer: backend, :memo: review

#151 [FE] 전체 리뷰 / 상품 리뷰 목록에 사용자 정보 표시
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/constants/api.ts
  frontend/src/custom.d.ts
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
Labels: :hammer: feature, :computer: frontend, :memo: review

#154 [BE] 대표 장비를 업데이트 하는 기능 구현
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/members.adoc
  backend/src/main/java/com/woowacourse/f12/application/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/InventoryProduct.java
  backend/src/main/java/com/woowacourse/f12/domain/InventoryProductRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/Member.java
  backend/src/main/java/com/woowacourse/f12/dto/request/ProfileProductRequest.java
  backend/src/main/java/com/woowacourse/f12/exception/InventoryItemNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/presentation/MemberController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/support/RestAssuredRequestUtil.java
  backend/src/test/java/com/woowacourse/f12/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/MemberDocumentation.java
  backend/src/test/java/com/woowacourse/f12/presentation/MemberControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, :briefcase: inventory

#156 [BE] 인벤토리를 조회하는 기능을 구현
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/inventoryProducts.adoc
  backend/src/docs/asciidoc/members.adoc
  backend/src/main/java/com/woowacourse/f12/application/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/domain/InventoryProduct.java
  backend/src/main/java/com/woowacourse/f12/domain/InventoryProductRepository.java
  backend/src/main/java/com/woowacourse/f12/dto/response/InventoryProductResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/InventoryProductsResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/InventoryProductController.java
  backend/src/main/java/com/woowacourse/f12/presentation/MemberController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/support/RestAssuredRequestUtil.java
  backend/src/test/java/com/woowacourse/f12/application/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/InventoryDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/MemberDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/InventoryProductControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, :briefcase: inventory

#157 [BE] 리뷰 삭제 기능 구현
  backend/src/docs/asciidoc/reviews.adoc
  backend/src/main/java/com/woowacourse/f12/application/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/Keyboard.java
  backend/src/main/java/com/woowacourse/f12/domain/Member.java
  backend/src/main/java/com/woowacourse/f12/domain/Review.java
  backend/src/main/java/com/woowacourse/f12/exception/ForbiddenMemberException.java
  backend/src/main/java/com/woowacourse/f12/exception/NotAuthorException.java
  backend/src/main/java/com/woowacourse/f12/exception/ReviewNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/ReviewController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/support/RestAssuredRequestUtil.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/ReviewDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/ReviewTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/AuthInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/MemberFixtures.java
Labels: :hammer: feature, :desktop_computer: backend, :memo: review

#158 [FE] 리뷰를 삭제하는 기능을 구현
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.style.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.tsx
  frontend/src/constants/api.ts
  frontend/src/contexts/LoginContextProvider.tsx
  frontend/src/custom.d.ts
  frontend/src/hooks/api/useDelete.tsx
  frontend/src/hooks/useReviews.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Product/Product.tsx
Labels: :hammer: feature, :computer: frontend, :memo: review

#159 [FE] 리뷰를 작성하는 기능을 보완
  frontend/src/hooks/useReviews.tsx
Labels: :hammer: feature, :computer: frontend, :memo: review

#161 [BE] 리뷰 수정 기능 구현
  backend/src/docs/asciidoc/reviews.adoc
  backend/src/main/java/com/woowacourse/f12/application/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/Review.java
  backend/src/main/java/com/woowacourse/f12/presentation/ReviewController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/support/RestAssuredRequestUtil.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/ReviewDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/ReviewTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/ReviewControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, :memo: review

#162 [BE] 대표 장비를 업데이트할 때 요청된 장비를 검증
  backend/src/main/java/com/woowacourse/f12/application/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/exception/InvalidProfileProductException.java
  backend/src/test/java/com/woowacourse/f12/application/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/InventoryProductControllerTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :briefcase: inventory

#164 [BE] 사용하지 않은 MemberService 삭제
  backend/src/main/java/com/woowacourse/f12/application/MemberService.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :briefcase: inventory

#165 [FE] 프로필 페이지 UI 구현, API 모킹 구현, API 연결 로직 구현
  frontend/src/assets/down_arrow.svg
  frontend/src/components/common/Chip/Chip.stories.tsx
  frontend/src/components/common/Chip/Chip.style.tsx
  frontend/src/components/common/Chip/Chip.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.style.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/components/common/ProductBar/ProductBar.stories.tsx
  frontend/src/components/common/ProductBar/ProductBar.style.tsx
  frontend/src/components/common/ProductBar/ProductBar.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.stories.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.style.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.tsx
  frontend/src/components/common/UserInfo/UserInfo.stories.tsx
  frontend/src/components/common/UserInfo/UserInfo.styled.tsx
  frontend/src/components/common/UserInfo/UserInfo.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/routes.ts
  frontend/src/contexts/LoginContextProvider.tsx
  frontend/src/custom.d.ts
  frontend/src/hooks/api/useGetOne.tsx
  frontend/src/hooks/api/usePatch.tsx
  frontend/src/hooks/useInventory.tsx
  frontend/src/hooks/useProduct.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Profile/Profile.style.tsx
  frontend/src/pages/Profile/Profile.tsx
  frontend/src/pages/index.tsx
Labels: :hammer: feature, :computer: frontend, :iphone: ui, :man: profile

#167 [FE] 리뷰를 수정하는 기능을 구현
  frontend/src/components/ReviewBottomSheet/ReviewBottomSheet.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.tsx
  frontend/src/components/common/ReviewForm/ReviewForm.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/api/usePut.tsx
  frontend/src/hooks/useReviews.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Product/Product.tsx
Labels: :hammer: feature, :computer: frontend, :memo: review

#170 [BugFix] github client ID를 배포용으로 변경
  frontend/src/constants/api.ts
Labels: :wrench: fix_issue, :computer: frontend

#173 [BE] 인벤토리 기능 구현에 대한 피드백 반영
  backend/src/docs/asciidoc/inventoryProducts.adoc
  backend/src/main/java/com/woowacourse/f12/application/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/domain/InventoryProduct.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/InventoryDocumentation.java
  backend/src/test/java/com/woowacourse/f12/presentation/InventoryProductControllerTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :briefcase: inventory

#166 [Release] 인벤토리 기능을 구현한다.
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/inventoryProducts.adoc
  backend/src/main/java/com/woowacourse/f12/application/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/domain/InventoryProduct.java
  backend/src/main/java/com/woowacourse/f12/domain/InventoryProductRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/Member.java
  backend/src/main/java/com/woowacourse/f12/dto/request/ProfileProductRequest.java
  backend/src/main/java/com/woowacourse/f12/dto/response/InventoryProductResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/InventoryProductsResponse.java
  backend/src/main/java/com/woowacourse/f12/exception/InvalidProfileProductException.java
  backend/src/main/java/com/woowacourse/f12/exception/InventoryItemNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/presentation/InventoryProductController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/support/RestAssuredRequestUtil.java
  backend/src/test/java/com/woowacourse/f12/application/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/InventoryDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/InventoryProductControllerTest.java
  frontend/src/assets/down_arrow.svg
  frontend/src/components/common/Chip/Chip.stories.tsx
  frontend/src/components/common/Chip/Chip.style.tsx
  frontend/src/components/common/Chip/Chip.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.style.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/components/common/ProductBar/ProductBar.stories.tsx
  frontend/src/components/common/ProductBar/ProductBar.style.tsx
  frontend/src/components/common/ProductBar/ProductBar.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.stories.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.style.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.tsx
  frontend/src/components/common/UserInfo/UserInfo.stories.tsx
  frontend/src/components/common/UserInfo/UserInfo.styled.tsx
  frontend/src/components/common/UserInfo/UserInfo.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/routes.ts
  frontend/src/contexts/LoginContextProvider.tsx
  frontend/src/custom.d.ts
  frontend/src/hooks/api/useGetOne.tsx
  frontend/src/hooks/api/usePatch.tsx
  frontend/src/hooks/useInventory.tsx
  frontend/src/hooks/useProduct.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Profile/Profile.style.tsx
  frontend/src/pages/Profile/Profile.tsx
  frontend/src/pages/index.tsx
Labels: :computer: frontend, :desktop_computer: backend, :white_check_mark: feature-done

#175 [BugFix] 인벤토리 목록의 경우 조회 시에도 토큰을 보내도록 수정
  frontend/src/hooks/useInventory.tsx
Labels: :wrench: fix_issue, :computer: frontend, :key: auth, :briefcase: inventory

#177 [BugFix] 대표 장비 수정을 여러 번 하면 제대로 수정되지 않는 오류 수정
  frontend/src/hooks/useInventory.tsx
Labels: :wrench: fix_issue, :computer: frontend, :briefcase: inventory

#180 [FE] 리뷰 CRUD의 피드백을 반영
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.tsx
  frontend/src/constants/api.ts
  frontend/src/custom.d.ts
  frontend/src/hooks/api/useDelete.tsx
  frontend/src/hooks/api/usePost.tsx
  frontend/src/hooks/api/usePut.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Product/Product.tsx
Labels: :computer: frontend, :hammer_and_wrench: refactoring, :memo: review

#181 [BE] 리뷰 CRUD 기능에 대한 코드 리뷰 반영
  backend/src/main/java/com/woowacourse/f12/application/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/dto/response/ReviewAuthor.java
  backend/src/main/java/com/woowacourse/f12/dto/response/ReviewAuthorResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/ReviewResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/ReviewWithProductResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/ReviewController.java
  backend/src/test/java/com/woowacourse/f12/application/KeyboardServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/ReviewControllerTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :memo: review

#184 [FE] 프로필 페이지 UI 및 API 요청 개선
  frontend/src/components/common/ProductSelect/ProductSelect.style.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.tsx
  frontend/src/constants/api.ts
  frontend/src/contexts/InventoryContextProvider.tsx
  frontend/src/contexts/LoginContextProvider.tsx
  frontend/src/hooks/useInventory.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Profile/Profile.tsx
  frontend/src/pages/index.tsx
Labels: :computer: frontend, :hammer_and_wrench: refactoring, :iphone: ui, :man: profile, :briefcase: inventory

#186 [BugFix] 리뷰 UD 오류 수정
  frontend/src/constants/api.ts
  frontend/src/hooks/useReviews.tsx
  frontend/src/mocks/handlers.ts
Labels: :wrench: fix_issue, :computer: frontend, :memo: review

#187 [BE] 회원 관련 기능 리팩토링
  backend/src/docs/asciidoc/members.adoc
  backend/src/main/java/com/woowacourse/f12/application/MemberService.java
  backend/src/main/java/com/woowacourse/f12/exception/InvalidProfileArgumentException.java
  backend/src/main/java/com/woowacourse/f12/presentation/MemberController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/MemberDocumentation.java
  backend/src/test/java/com/woowacourse/f12/presentation/MemberControllerTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, 🧑‍💻member

#188 [BugFix] 리뷰 카드에서 Github id가 보이지 않는 오류 수정
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/contexts/LoginContextProvider.tsx
  frontend/src/custom.d.ts
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
Labels: :wrench: fix_issue, :computer: frontend, :memo: review

#189 [BE] 리뷰를 작성하면 해당하는 장비가 인벤토리에 추가되도록 하는 기능 추가
  backend/src/main/java/com/woowacourse/f12/application/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/presentation/ReviewController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/ReviewDocumentation.java
  backend/src/test/java/com/woowacourse/f12/presentation/AuthInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/ReviewControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, :memo: review, :briefcase: inventory

#185 [Release] 프로필 페이지 UI 및 API 요청 개선
  frontend/src/components/common/ProductSelect/ProductSelect.style.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.tsx
  frontend/src/constants/api.ts
  frontend/src/contexts/InventoryContextProvider.tsx
  frontend/src/contexts/LoginContextProvider.tsx
  frontend/src/hooks/useInventory.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Profile/Profile.tsx
  frontend/src/pages/index.tsx
Labels: :computer: frontend, :hammer_and_wrench: refactoring, :iphone: ui, :man: profile, :briefcase: inventory

#190 [BE] 리뷰를 작성하면 해당하는 장비가 인벤토리에 추가되도록 하는 기능 추가
  backend/src/main/java/com/woowacourse/f12/application/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/presentation/ReviewController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/ReviewDocumentation.java
  backend/src/test/java/com/woowacourse/f12/presentation/AuthInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/ReviewControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, :memo: review, :briefcase: inventory

#194 [BugFix] 등록된 장비가 1개일 때 발생하던 오류를 수정
  frontend/src/components/common/ProductSelect/ProductSelect.tsx
Labels: :wrench: fix_issue, :computer: frontend, :briefcase: inventory

#200 [BE] 회원 관련 기능 피드백 반영한다.
  backend/src/docs/asciidoc/inventoryProducts.adoc
  backend/src/docs/asciidoc/members.adoc
  backend/src/main/java/com/woowacourse/f12/domain/CareerLevel.java
  backend/src/main/java/com/woowacourse/f12/domain/JobType.java
  backend/src/main/java/com/woowacourse/f12/domain/Member.java
  backend/src/main/java/com/woowacourse/f12/dto/response/LoginMemberResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/MemberController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/InventoryProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/MemberDocumentation.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, 🧑‍💻member

#201 [FE] 롤백된 파일 변경 내용을 복원
  frontend/src/components/common/HeaderNav/HeaderNav.style.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/routes.ts
  frontend/src/contexts/LoginContextProvider.tsx
  frontend/src/custom.d.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/index.tsx
Labels: :wrench: fix_issue, :computer: frontend

#205 [FE] 스프린트 2 데모를 위한 UI 마무리
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/pages/Products/Products.tsx
Labels: :computer: frontend, :iphone: ui

#206 [BE] 테스트를 리팩토링
  backend/src/main/java/com/woowacourse/f12/domain/InventoryProduct.java
  backend/src/test/java/com/woowacourse/f12/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/support/DatabaseCleanup.java
  backend/src/test/java/com/woowacourse/f12/application/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/InventoryProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/InventoryProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/InventoryProductFixtures.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :chart_with_upwards_trend: test

#207 [BE] 동일한 장비에 대해 리뷰를 중복 작성하지 못하도록 구현
  backend/src/docs/asciidoc/reviews.adoc
  backend/src/main/java/com/woowacourse/f12/application/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/ReviewRepository.java
  backend/src/main/java/com/woowacourse/f12/exception/AlreadyWrittenReviewException.java
  backend/src/test/java/com/woowacourse/f12/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/KeyboardAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/support/LoginUtil.java
  backend/src/test/java/com/woowacourse/f12/application/GitHubOauthClientTest.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/ReviewDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/FakeGitHubApiController.java
  backend/src/test/java/com/woowacourse/f12/support/MemberFixtures.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :memo: review

#208 [BE] 장비가 인벤토리에 중복 추가되는 버그가 발생한다
  backend/src/main/java/com/woowacourse/f12/application/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/InventoryProductRepository.java
  backend/src/test/java/com/woowacourse/f12/application/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/InventoryProductRepositoryTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :briefcase: inventory

#210 [BE] 같은 회원이 같은 제품에 리뷰를 중복해서 작성하면 예외 발생 인수테스트 추가
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
Labels: :desktop_computer: backend, :memo: review, :chart_with_upwards_trend: test

#222 [BE] 사용자와 인벤토리에 연관관계를 설정
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProduct.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/inventoryproduct/InventoryProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/KeyboardRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/InventoryProductFixtures.java
Labels: :hammer: feature, :desktop_computer: backend, 🧑‍💻member, :briefcase: inventory

#224 [BE] 상품을 카테고리로 목록 조회하는 기능을 구현
  backend/src/docs/asciidoc/keyboards.adoc
  backend/src/main/java/com/woowacourse/f12/application/product/ProductService.java
  backend/src/main/java/com/woowacourse/f12/domain/product/Category.java
  backend/src/main/java/com/woowacourse/f12/domain/product/Product.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepository.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/ProductController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/inventoryproduct/InventoryProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/product/ProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/review/ReviewDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/KeyboardFixtures.java
  backend/src/test/java/com/woowacourse/f12/support/ProductFixture.java
Labels: :newspaper: documentation, :hammer: feature, :desktop_computer: backend, :package: product

#226 [Feature, FE] 스프린트2 버퍼 적용
  frontend/.eslintignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/ProductListSection/ProductListSection.stories.tsx
  frontend/src/components/ProductListSection/ProductListSection.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.stories.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/FloatingButton/FloatingButton.stories.tsx
  frontend/src/components/common/HeaderLogo/HeaderLogo.stories.tsx
  frontend/src/components/common/HeaderLogo/HeaderLogo.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/components/common/Masonry/Masonry.tsx
  frontend/src/components/common/ProductCard/ProductCard.stories.tsx
  frontend/src/components/common/ProductCard/ProductCard.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.stories.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.tsx
  frontend/src/components/common/Rating/Rating.stories.tsx
  frontend/src/components/common/Rating/Rating.tsx
  frontend/src/components/common/RatingInput/RatingInput.stories.tsx
  frontend/src/components/common/RatingInput/RatingInput.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.stories.tsx
  frontend/src/components/common/ReviewCard/ReviewCard.tsx
  frontend/src/components/common/ReviewForm/ReviewForm.stories.tsx
  frontend/src/components/common/ReviewForm/ReviewForm.tsx
  frontend/src/components/common/SectionHeader/SectionHeader.stories.tsx
  frontend/src/components/common/SectionHeader/SectionHeader.tsx
  frontend/src/components/common/Select/Select.stories.tsx
  frontend/src/components/common/Select/Select.tsx
  frontend/src/components/common/Stepper/Stepper.stories.tsx
  frontend/src/components/common/UserNameTag/UserNameTag.stories.tsx
  frontend/src/components/common/UserNameTag/UserNameTag.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/messages.ts
  frontend/src/hooks/api/axiosInstance.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Register/Register.style.tsx
  frontend/src/pages/Register/Register.tsx
  frontend/src/pages/common/PageLayout/PageLayout.tsx
  frontend/src/pages/index.tsx
  frontend/webpack.common.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
Labels: :computer: frontend, :iphone: ui, :white_check_mark: feature-done, :man: profile

#243 [FE] 모킹 데이터에서 발생하는 에러를 수정
  frontend/src/custom.d.ts
  frontend/src/mocks/data.ts
Labels: :wrench: fix_issue, :computer: frontend

#247 Create test.md
  test.md
Labels: :computer: frontend

#248 Update test.md
  test.md
Labels: :computer: frontend

#250 [FE] Private Route 컴포넌트 구현 및 적용
  frontend/src/components/Login/Login.tsx
  frontend/src/contexts/LoginContextProvider.tsx
  frontend/src/custom.d.ts
  frontend/src/hooks/useAuth.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/common/NonUserRoutes/NonUserRoutes.tsx
  frontend/src/pages/common/ProtectedRoute/ProtectedRoutes.tsx
  frontend/src/pages/common/UserRoutes/UserRoutes.tsx
  frontend/src/pages/index.tsx
Labels: :hammer: feature, :computer: frontend, :iphone: ui

#253 [FE] 카테고리 상단 메뉴 구현
  frontend/src/components/common/CategoryNav/CategoryNav.style.tsx
  frontend/src/components/common/CategoryNav/CategoryNav.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.style.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/hooks/useAnimation.tsx
  frontend/src/style/ResetCss.tsx
Labels: :hammer: feature, :computer: frontend, :iphone: ui

#254 [FE] 검색바 컴포넌트 구현
  frontend/src/assets/search.svg
  frontend/src/components/common/SearchBar/SearchBar.stories.tsx
  frontend/src/components/common/SearchBar/SearchBar.style.tsx
  frontend/src/components/common/SearchBar/SearchBar.tsx
Labels: :computer: frontend, :iphone: ui

#255 [FE] 카테고리 별 상품 목록 조회 페이지 구현 및 API 설정
  frontend/src/components/common/CategoryNav/CategoryNav.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/api/useGetMany.tsx
  frontend/src/hooks/useProducts.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Products/Products.tsx
Labels: :hammer: feature, :computer: frontend, :iphone: ui

#256 [BE] 열거형을 분리하고 DTO에 카테고리 추가
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/products.adoc
  backend/src/main/java/com/woowacourse/f12/application/product/ProductService.java
  backend/src/main/java/com/woowacourse/f12/config/WebConfig.java
  backend/src/main/java/com/woowacourse/f12/dto/response/inventoryproduct/InventoryProductsResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/product/KeyboardForReviewResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/product/ProductForReviewResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/product/ProductResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithProductResponse.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidCategoryValueException.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/ViewConstant.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/CategoryConstant.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/CategoryParamConverter.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/ProductController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/inventoryproduct/InventoryProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/product/ProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/CategoryConstantTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :package: product

#259 [FE] 검색 필터 컴포넌트 구현
  frontend/src/components/SearchFilter/SearchFilter.stories.tsx
  frontend/src/components/SearchFilter/SearchFilter.style.tsx
  frontend/src/components/SearchFilter/SearchFilter.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.stories.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.style.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.tsx
Labels: :computer: frontend, :iphone: ui

#261 [FE] 위시리스트 추가 버튼 컴포넌트 구현
  frontend/src/assets/bookmark.svg
  frontend/src/assets/bookmark_empty.svg
  frontend/src/components/common/WishButton/WishButton.stories.tsx
  frontend/src/components/common/WishButton/WishButton.style.tsx
  frontend/src/components/common/WishButton/WishButton.tsx
Labels: :computer: frontend, :iphone: ui

#252 [BugFix] 인기 많은 상품 페이지에 존재하는 새로고침 오류 수정
  frontend/src/pages/Products/Products.tsx
Labels: :wrench: fix_issue, :computer: frontend, :package: product

#262 [Feature, FE] 위시리스트 추가 버튼 구현
  frontend/src/assets/bookmark.svg
  frontend/src/assets/bookmark_empty.svg
  frontend/src/components/common/WishButton/WishButton.stories.tsx
  frontend/src/components/common/WishButton/WishButton.style.tsx
  frontend/src/components/common/WishButton/WishButton.tsx
Labels: :computer: frontend, :iphone: ui

#265 [BE] h2 설정 파일 서브모듈 적용
  backend/src/main/resources/application.yml
Labels: :gear: infra, :desktop_computer: backend

#269 [BE] 서브모듈로 분리한 h2 설정 파일 ignore
  backend/.gitignore
Labels: :gear: infra, :desktop_computer: backend

#270 [Feature/BE] h2 데이터베이스에 관련된 설정을 서브모듈로 분리
  backend/.gitignore
  backend/src/main/resources/application.yml
Labels: :gear: infra, :desktop_computer: backend, :white_check_mark: feature-done

#271 feat: 카테고리 페이지에 따라 제목 변경 UI 구현
  frontend/src/components/common/CategoryNav/CategoryNav.tsx
  frontend/src/pages/Products/Products.tsx
Labels: :computer: frontend, :iphone: ui

#276 [BE] 제품 카테고리 속성 추가 피드백 반영
  backend/src/docs/asciidoc/products.adoc
  backend/src/main/java/com/woowacourse/f12/application/product/ProductService.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProduct.java
  backend/src/main/java/com/woowacourse/f12/domain/product/Category.java
  backend/src/main/java/com/woowacourse/f12/dto/response/product/ProductResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/CategoryConstant.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/product/ProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/CategoryConstantTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :package: product

#277 [BE] 회원 검색 기능 피드백 반영
  backend/build.gradle
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/CareerLevel.java
  backend/src/main/java/com/woowacourse/f12/domain/member/JobType.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustom.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/dto/CareerLevelConstant.java
  backend/src/main/java/com/woowacourse/f12/dto/JobTypeConstant.java
  backend/src/main/java/com/woowacourse/f12/dto/response/auth/LoginMemberResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberWithProfileProductResponse.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/member/MemberDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/MemberFixtures.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, 🧑‍💻member

#258 [Feature/BE] 제품에 카테고리를 추가
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/keyboards.adoc
  backend/src/docs/asciidoc/products.adoc
  backend/src/main/java/com/woowacourse/f12/application/product/KeyboardService.java
  backend/src/main/java/com/woowacourse/f12/application/product/ProductService.java
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/config/WebConfig.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProduct.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/product/Category.java
  backend/src/main/java/com/woowacourse/f12/domain/product/Product.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/review/Review.java
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepository.java
  backend/src/main/java/com/woowacourse/f12/dto/request/review/ReviewRequest.java
  backend/src/main/java/com/woowacourse/f12/dto/response/inventoryproduct/InventoryProductResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/inventoryproduct/InventoryProductsResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/product/KeyboardForReviewResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/product/KeyboardPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/product/KeyboardResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/product/ProductForReviewResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/product/ProductPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/product/ProductResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/review/ReviewWithProductResponse.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidCategoryValueException.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/ViewConstant.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/CategoryConstant.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/CategoryParamConverter.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/KeyboardController.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/ProductController.java
  backend/src/main/java/com/woowacourse/f12/presentation/review/ReviewController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/KeyboardAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/KeyboardServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/config/WebConfigTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/inventoryproduct/InventoryProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/product/ProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/documentation/review/ReviewDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/CategoryConstantTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/KeyboardControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/InventoryProductFixtures.java
  backend/src/test/java/com/woowacourse/f12/support/KeyboardFixtures.java
  backend/src/test/java/com/woowacourse/f12/support/ProductFixture.java
  backend/src/test/java/com/woowacourse/f12/support/ReviewFixtures.java
Labels: :newspaper: documentation, :hammer: feature, :desktop_computer: backend, :package: product, :white_check_mark: feature-done

#272 [Feature/FE] Private Route 처리 및 카테고리 페이지 구현
  frontend/src/components/Login/Login.tsx
  frontend/src/components/common/CategoryNav/CategoryNav.style.tsx
  frontend/src/components/common/CategoryNav/CategoryNav.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.style.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/constants/api.ts
  frontend/src/contexts/LoginContextProvider.tsx
  frontend/src/custom.d.ts
  frontend/src/hooks/api/useGetMany.tsx
  frontend/src/hooks/useAnimation.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useProducts.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/common/NonUserRoutes/NonUserRoutes.tsx
  frontend/src/pages/common/ProtectedRoute/ProtectedRoutes.tsx
  frontend/src/pages/common/UserRoutes/UserRoutes.tsx
  frontend/src/pages/index.tsx
  frontend/src/style/ResetCss.tsx
Labels: :hammer: feature, :computer: frontend, :iphone: ui, :white_check_mark: feature-done

#281 [BE] fake github api를 리팩토링
  backend/src/test/java/com/woowacourse/f12/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/GitHubOauthClientTest.java
  backend/src/test/java/com/woowacourse/f12/support/FakeGitHubApiController.java
  backend/src/test/java/com/woowacourse/f12/support/GitHubProfileFixtures.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :chart_with_upwards_trend: test

#284 [BugFix] Spring REST Docs가 생기지 않는 버그 수정완료
  backend/build.gradle
Labels: :wrench: fix_issue, :desktop_computer: backend

#287 [FE] 유저 프로필 카드 컴포넌트를 구현
  frontend/src/assets/github.svg
  frontend/src/components/ProfileCard/ProfileCard.stories.tsx
  frontend/src/components/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/ProfileCard/ProfileCard.tsx
  frontend/src/components/common/Chip/Chip.stories.tsx
  frontend/src/components/common/Chip/Chip.style.tsx
  frontend/src/components/common/Chip/Chip.tsx
Labels: :computer: frontend, :iphone: ui

#288 [Feature/FE] 검색 기능에 필요한 UI 컴포넌트를 구현
  frontend/src/assets/github.svg
  frontend/src/assets/search.svg
  frontend/src/components/ProfileCard/ProfileCard.stories.tsx
  frontend/src/components/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/ProfileCard/ProfileCard.tsx
  frontend/src/components/SearchFilter/SearchFilter.stories.tsx
  frontend/src/components/SearchFilter/SearchFilter.style.tsx
  frontend/src/components/SearchFilter/SearchFilter.tsx
  frontend/src/components/common/Chip/Chip.stories.tsx
  frontend/src/components/common/Chip/Chip.style.tsx
  frontend/src/components/common/Chip/Chip.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.stories.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.style.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.tsx
  frontend/src/components/common/SearchBar/SearchBar.stories.tsx
  frontend/src/components/common/SearchBar/SearchBar.style.tsx
  frontend/src/components/common/SearchBar/SearchBar.tsx
Labels: :computer: frontend, :iphone: ui

#289 [Bugfix] jar 파일 생성 시 RESTDocs가 포함되지 않는 오류 수정
  backend/build.gradle
Labels: :wrench: fix_issue, :desktop_computer: backend

#290 [FE] API 요청의 Loading 상태 방식을 통일, Loading UI 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/InventoryProductList/InventoryProductList.style.tsx
  frontend/src/components/InventoryProductList/InventoryProductList.tsx
  frontend/src/components/Login/Login.tsx
  frontend/src/components/ProductListSection/ProductListSection.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/AsyncWrapper/AsyncWrapper.tsx
  frontend/src/components/common/InfiniteScroll/InfiniteScroll.tsx
  frontend/src/components/common/Loading/Loading.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.tsx
  frontend/src/components/common/UserInfo/UserInfo.tsx
  frontend/src/contexts/InventoryContextProvider.tsx
  frontend/src/hooks/api/useAxios.tsx
  frontend/src/hooks/api/useGetMany.tsx
  frontend/src/hooks/api/useGetOne.tsx
  frontend/src/hooks/useInventory.tsx
  frontend/src/hooks/useProduct.tsx
  frontend/src/hooks/useProducts.tsx
  frontend/src/hooks/useReviews.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Product/Product.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/Profile/Profile.tsx
  frontend/src/pages/index.tsx
Labels: :hammer: feature, :computer: frontend, :hammer_and_wrench: refactoring, :iphone: ui

#292 [BE] 제품에 대한 사용자 통계 기능을 구현
  backend/build.gradle
  backend/src/docs/asciidoc/products.adoc
  backend/src/main/java/com/woowacourse/f12/application/product/ProductService.java
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/CareerLevel.java
  backend/src/main/java/com/woowacourse/f12/domain/member/JobType.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberInfo.java
  backend/src/main/java/com/woowacourse/f12/domain/review/CareerLevelCount.java
  backend/src/main/java/com/woowacourse/f12/domain/review/Countable.java
  backend/src/main/java/com/woowacourse/f12/domain/review/JobTypeCount.java
  backend/src/main/java/com/woowacourse/f12/domain/review/MemberInfoStatistics.java
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepositoryCustom.java
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/dto/response/product/ProductStatisticsResponse.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/KeyboardNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/ProductNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/ProductController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/product/ProductDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/review/MemberInfoStatisticsTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, :package: product

#294 [FE] 유저 통계 컴포넌트 구현
  frontend/src/components/BarGraph/BarGraph.stories.tsx
  frontend/src/components/BarGraph/BarGraph.style.tsx
  frontend/src/components/BarGraph/BarGraph.tsx
Labels: :computer: frontend, :iphone: ui

#297 [BE] 예외 상황시 예외 코드를 반환
  backend/src/main/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/application/product/ProductService.java
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/dto/response/ExceptionResponse.java
  backend/src/main/java/com/woowacourse/f12/exception/CustomException.java
  backend/src/main/java/com/woowacourse/f12/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/AlreadyWrittenReviewException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/BlankContentException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidCareerLevelException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidCategoryValueException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidContentLengthException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidGitHubLoginException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidJobTypeException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidPageNumberFormatException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidPageSizeException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidPageSizeFormatException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileArgumentException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidProfileProductException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidRatingValueException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidValueException.java
  backend/src/main/java/com/woowacourse/f12/exception/forbidden/ForbiddenMemberException.java
  backend/src/main/java/com/woowacourse/f12/exception/forbidden/NotAuthorException.java
  backend/src/main/java/com/woowacourse/f12/exception/internalserver/ExternalServerException.java
  backend/src/main/java/com/woowacourse/f12/exception/internalserver/GitHubServerException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/InventoryItemNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/InventoryProductNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/KeyboardNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/MemberNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/NotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/ProductNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/notfound/ReviewNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenExpiredException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenInvalidException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenNotExistsException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/UnauthorizedException.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthArgumentResolver.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthInterceptor.java
  backend/src/main/java/com/woowacourse/f12/support/AuthTokenExtractor.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/AuthTokenExtractorTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring

#299 [FE] API 요청의 Error 처리 통일, Error UI 구현
  frontend/src/components/ProductListSection/ProductListSection.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/AsyncWrapper/AsyncWrapper.tsx
  frontend/src/components/common/ErrorPlaceholder/ErrorPlaceholder.tsx
  frontend/src/components/common/InfiniteScroll/InfiniteScroll.tsx
  frontend/src/hooks/api/useAxios.tsx
  frontend/src/hooks/api/useDelete.tsx
  frontend/src/hooks/api/useGet.tsx
  frontend/src/hooks/api/useGetMany.tsx
  frontend/src/hooks/api/useGetOne.tsx
  frontend/src/hooks/api/usePatch.tsx
  frontend/src/hooks/api/usePost.tsx
  frontend/src/hooks/api/usePut.tsx
  frontend/src/hooks/useInventory.tsx
  frontend/src/hooks/useProduct.tsx
  frontend/src/hooks/useProducts.tsx
  frontend/src/hooks/useReviews.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Product/Product.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/Profile/Profile.tsx
  frontend/src/utils/handleError.ts
  frontend/src/utils/logError.ts
Labels: :hammer: feature, :computer: frontend, :iphone: ui

#295 [Feature/FE] 사용자 통계 컴포넌트 UI 구현
  frontend/src/components/common/BarGraph/BarGraph.stories.tsx
  frontend/src/components/common/BarGraph/BarGraph.style.tsx
  frontend/src/components/common/BarGraph/BarGraph.tsx
Labels: :computer: frontend, :iphone: ui

#301 [FE] Loading 및 Error UI 스타일 수정
  frontend/src/components/ProductListSection/ProductListSection.style.tsx
  frontend/src/components/ProductListSection/ProductListSection.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.style.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/AsyncWrapper/AsyncWrapper.tsx
  frontend/src/components/common/Loading/Loading.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.style.tsx
  frontend/src/pages/Product/Product.style.tsx
  frontend/src/pages/Product/Product.tsx
Labels: :computer: frontend, :iphone: ui

#302 [Feature/FE] API Loading 및 Error 처리 방식 통일, UI 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/InventoryProductList/InventoryProductList.style.tsx
  frontend/src/components/InventoryProductList/InventoryProductList.tsx
  frontend/src/components/Login/Login.tsx
  frontend/src/components/ProductListSection/ProductListSection.style.tsx
  frontend/src/components/ProductListSection/ProductListSection.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.style.tsx
  frontend/src/components/ReviewListSection/ReviewListSection.tsx
  frontend/src/components/common/AsyncWrapper/AsyncWrapper.tsx
  frontend/src/components/common/ErrorPlaceholder/ErrorPlaceholder.tsx
  frontend/src/components/common/InfiniteScroll/InfiniteScroll.tsx
  frontend/src/components/common/Loading/Loading.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.style.tsx
  frontend/src/components/common/ProductDetail/ProductDetail.tsx
  frontend/src/components/common/ProductSelect/ProductSelect.tsx
  frontend/src/components/common/UserInfo/UserInfo.tsx
  frontend/src/constants/routes.ts
  frontend/src/contexts/InventoryContextProvider.tsx
  frontend/src/hooks/api/useAxios.tsx
  frontend/src/hooks/api/useDelete.tsx
  frontend/src/hooks/api/useGet.tsx
  frontend/src/hooks/api/useGetMany.tsx
  frontend/src/hooks/api/useGetOne.tsx
  frontend/src/hooks/api/usePatch.tsx
  frontend/src/hooks/api/usePost.tsx
  frontend/src/hooks/api/usePut.tsx
  frontend/src/hooks/useInventory.tsx
  frontend/src/hooks/useProduct.tsx
  frontend/src/hooks/useProducts.tsx
  frontend/src/hooks/useReviews.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/NotFound/NotFound.style.tsx
  frontend/src/pages/NotFound/NotFound.tsx
  frontend/src/pages/Product/Product.style.tsx
  frontend/src/pages/Product/Product.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/Profile/Profile.tsx
  frontend/src/pages/index.tsx
  frontend/src/utils/handleError.ts
  frontend/src/utils/logError.ts
Labels: :hammer: feature, :computer: frontend, :iphone: ui, :white_check_mark: feature-done

#305 [FE] 모달 UI 구현
  frontend/src/components/common/Modal/Modal.stories.tsx
  frontend/src/components/common/Modal/Modal.style.tsx
  frontend/src/components/common/Modal/Modal.tsx
Labels: :computer: frontend, :iphone: ui

#307 [FE] 모달로 window.alert 및 window.confirm 대체
  frontend/.eslintrc.json
  frontend/src/components/Login/Login.tsx
  frontend/src/components/common/HeaderNav/HeaderNav.tsx
  frontend/src/components/common/Modal/Modal.style.tsx
  frontend/src/components/common/Modal/Modal.tsx
  frontend/src/contexts/ModalContextProvider.tsx
  frontend/src/hooks/api/useDelete.tsx
  frontend/src/hooks/api/useGet.tsx
  frontend/src/hooks/api/useGetMany.tsx
  frontend/src/hooks/api/useGetOne.tsx
  frontend/src/hooks/api/usePatch.tsx
  frontend/src/hooks/api/usePost.tsx
  frontend/src/hooks/api/usePut.tsx
  frontend/src/hooks/useConfirm.tsx
  frontend/src/hooks/useError.tsx
  frontend/src/hooks/useModal.tsx
  frontend/src/index.tsx
  frontend/src/pages/Product/Product.tsx
  frontend/src/pages/Register/Register.tsx
  frontend/src/utils/handleError.ts
Labels: :hammer: feature, :computer: frontend, :iphone: ui
