Repository woowacourse-teams/2022-f12, pull requests merged in 2022-09, with the labels that each got.

#554 [FE] 폰트에 대한 다이나믹 서브셋을 적용
  frontend/public/index.html
  frontend/src/style/GlobalStyles.tsx
Labels: 🚀 Optimization

#555 코드 분할 구현
  frontend/src/pages/common/PageLayout/PageLayout.tsx
  frontend/src/pages/index.tsx
  frontend/tsconfig.json
  frontend/webpack.common.js
Labels: 🚀 Optimization

#557 [FE] lottie 애니메이션 패키지 제거 및 gif, webp로 대체
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/404.gif
  frontend/src/assets/404.webp
  frontend/src/assets/empty.svg
  frontend/src/assets/error.gif
  frontend/src/assets/error.webp
  frontend/src/assets/loading.gif
  frontend/src/assets/loading.webp
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
  frontend/src/components/common/ErrorPlaceholder/ErrorPlaceholder.tsx
  frontend/src/components/common/Loading/Loading.tsx
  frontend/src/components/common/NoDataPlaceholder/NoDataPlaceholder.tsx
  frontend/src/constants/lottieFiles.ts
  frontend/src/pages/NotFound/NotFound.tsx
  frontend/src/pages/Product/Product.tsx
  frontend/src/types/image.d.ts
  frontend/webpack.common.js
Labels: 🚀 Optimization

#558 favicon 종류 및 크기 업데이트
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/manifest.webmanifest
  frontend/public/safari-pinned-tab.svg
  frontend/webpack.common.js
Labels: 🚀 Optimization

#560 [FE] 검색에서 불필요하게 자주 요청을 보내지 않도록 처리
  frontend/src/hooks/useDebouce.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
Labels: :computer: frontend, 🚀 Optimization

#562 [FE] API 요청에 대한 캐싱 구현
  frontend/src/constants/cache.ts
  frontend/src/contexts/CacheContextProvider.tsx
  frontend/src/hooks/api/useCache.tsx
  frontend/src/hooks/api/useGetMany.tsx
  frontend/src/hooks/api/useGetOne.tsx
  frontend/src/index.tsx
Labels: :computer: frontend, 🚀 Optimization

#563 [BE] 팔로우 기능에 대한 리뷰를 적용한다.
  backend/build.gradle
  backend/src/docs/asciidoc/members.adoc
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Following.java
  backend/src/main/java/com/woowacourse/f12/domain/member/FollowingRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustom.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/MemberController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/review/ReviewDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/member/FollowingRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/FollowingTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, 🧑‍💻member

#565 [FE] 이미지 lazy loading 구현
  frontend/src/components/Product/ProductCard/ProductCard.tsx
  frontend/src/components/common/LazyImage/LazyImage.style.tsx
  frontend/src/components/common/LazyImage/LazyImage.tsx
  frontend/src/hooks/useLazyImage.tsx
Labels: :computer: frontend, 🚀 Optimization

#567 [FE] 불필요한 console.log 제거
  frontend/src/components/common/LazyImage/LazyImage.tsx
Labels: :wrench: fix_issue, :computer: frontend

#568 [FE/Bugfix] 배포 시에 bundleAnalyzer가 실행되지 않도록 주석 처리
  frontend/webpack.common.js
Labels: :wrench: fix_issue, :computer: frontend

#570 [BE] 1000자 이상인 URI로 요청하는 경우 예외 반환
  backend/src/docs/asciidoc/error.adoc
  backend/src/main/java/com/woowacourse/f12/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidUrlLengthException.java
  backend/src/main/java/com/woowacourse/f12/presentation/UriLengthCheckInterceptor.java
  backend/src/test/java/com/woowacourse/f12/presentation/UrlLengthCheckInterceptorTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend

#573 [Bugfix/FE] 검색 시 검색어의 길이가 너무 길 경우 발생하는 414 에러 수정
  frontend/src/components/common/SearchBar/SearchBar.tsx
  frontend/src/constants/messages.ts
Labels: :bug: bug_report, :computer: frontend

#575 [FE] 데스크 셋업 변경 시 불필요한 API 요청을 보내지 않는다.
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.tsx
  frontend/src/pages/Profile/Profile.tsx
Labels: :computer: frontend, :briefcase: inventory

#580 [BE] URI 길이 제한 기능 코드리뷰 반영
  backend/src/docs/asciidoc/error.adoc
  backend/src/main/java/com/woowacourse/f12/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/f12/exception/UriTooLongException.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidUrlLengthException.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/UriLengthCheckInterceptor.java
  backend/src/test/java/com/woowacourse/f12/presentation/UrlLengthCheckInterceptorTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend

#581 [FE] 불필요한 리렌더링이 발생하지 않도록 최적화 진행
  frontend/src/components/Product/ProductCard/ProductCard.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
  frontend/src/hooks/useLazyImage.tsx
Labels: :computer: frontend, 🚀 Optimization

#564 [Feature/BE] 팔로우 기능에 대한 리뷰를 적용한다.
  backend/build.gradle
  backend/src/docs/asciidoc/members.adoc
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Following.java
  backend/src/main/java/com/woowacourse/f12/domain/member/FollowingRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustom.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberPageResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/member/MemberResponse.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/MemberController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/documentation/review/ReviewDocumentation.java
  backend/src/test/java/com/woowacourse/f12/domain/member/FollowingRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/FollowingTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
Labels: :desktop_computer: backend, :white_check_mark: feature-done, 🧑‍💻member

#585 [FE] React Testing Library와 Jest 기반의 테스트 환경을 설정한다.
  frontend/.eslintignore
  frontend/.eslintrc.json
  frontend/jest-setup.ts
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__test__/test-utils.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.test.tsx
  frontend/src/mocks/jestFileMock.ts
  frontend/src/mocks/jestSvgMock.tsx
  frontend/webpack.main.js
  frontend/webpack.release.js
Labels: :computer: frontend, :chart_with_upwards_trend: test

#587 [BE] 인수 테스트를 리팩토링한다
  backend/src/test/java/com/woowacourse/f12/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/GitHubOauthClientTest.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductsTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/FakeGitHubApiController.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/AcceptanceFixture.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/GitHubProfileFixture.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/InventoryProductFixtures.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/MemberFixture.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/ProductFixture.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/ReviewFixture.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/action/AuthorizedAction.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/action/UnAuthorizedAction.java
Labels: :desktop_computer: backend, :chart_with_upwards_trend: test

#584 [Bugfix/FE] Following Api Endpoint 주소 변경
  frontend/src/constants/api.ts
Labels: :wrench: fix_issue, :computer: frontend

#588 [Feature/BE] 인수 테스트 리팩토링
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustomImpl.java
  backend/src/test/java/com/woowacourse/f12/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/GitHubOauthClientTest.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductsTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/FakeGitHubApiController.java
  backend/src/test/java/com/woowacourse/f12/support/action/AuthorizedAction.java
  backend/src/test/java/com/woowacourse/f12/support/action/UnauthorizedAction.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/AcceptanceFixture.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/GitHubProfileFixture.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/InventoryProductFixtures.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/MemberFixture.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/ProductFixture.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/ReviewFixture.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :chart_with_upwards_trend: test

#598 [BE] refresh 토큰을 도입한다.
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/error.adoc
  backend/src/main/java/com/woowacourse/f12/application/auth/AuthService.java
  backend/src/main/java/com/woowacourse/f12/application/auth/InmemoryRefreshTokenRepository.java
  backend/src/main/java/com/woowacourse/f12/application/auth/RefreshTokenInfo.java
  backend/src/main/java/com/woowacourse/f12/application/auth/RefreshTokenProvider.java
  backend/src/main/java/com/woowacourse/f12/application/auth/RefreshTokenRepository.java
  backend/src/main/java/com/woowacourse/f12/dto/response/AccessTokenResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/auth/IssuedTokensResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/auth/TokenResponse.java
  backend/src/main/java/com/woowacourse/f12/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/RefreshTokenExpiredException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/RefreshTokenNotExistException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/RefreshTokenNotFoundException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenExpiredException.java
  backend/src/main/java/com/woowacourse/f12/exception/unauthorized/TokenNotExistsException.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthController.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthInterceptor.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/Login.java
  backend/src/main/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductController.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/MemberController.java
  backend/src/main/java/com/woowacourse/f12/presentation/review/ReviewController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/InmemoryRefreshTokenRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/RefreshTokenInfoTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/PresentationTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, :key: auth

#595 [Feature/FE] 프로필 페이지에 리뷰 목록을 출력하는 기능 구현
  frontend/src/components/DeskSetup/DeskSetup.tsx
  frontend/src/components/DeskSetupCard/DeskSetupCard.style.tsx
  frontend/src/components/DeskSetupCard/DeskSetupCard.tsx
  frontend/src/components/Profile/InventoryProductList/InventoryProductList.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.tsx
  frontend/src/components/Review/ReviewListSection/ReviewListSection.tsx
  frontend/src/constants/api.ts
  frontend/src/hooks/useInventory.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Profile/Profile.style.tsx
  frontend/src/pages/Profile/Profile.tsx
Labels: :computer: frontend, :memo: review, :man: profile

#601 [FE] GitHub 프로필 이미지 크기를 최적화
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.stories.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.tsx
  frontend/src/constants/link.ts
Labels: :computer: frontend, 🚀 Optimization

#602 [Feature/FE] GitHub 프로필 이미지 크기를 최적화
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
  frontend/src/components/Profile/UserInfo/UserInfo.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.stories.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.tsx
  frontend/src/constants/link.ts
Labels: :computer: frontend, 🚀 Optimization

#605 [BE] @BatchSize와 Fetch EAGER를 제거한다
  backend/src/main/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProduct.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProducts.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :package: product, 🧑‍💻member, :briefcase: inventory

#611 [BE] 로그아웃 API 구현
  backend/src/docs/asciidoc/auth.adoc
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthControllerTest.java
Labels: :hammer: feature, :desktop_computer: backend, :key: auth

#613 [BE] Member의 followerCount의 `Formula`를 제거한다
  backend/src/docs/asciidoc/members.adoc
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidFollowerCountException.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/MemberFixture.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, 🧑‍💻member

#612 [Feature/BE] 로그아웃 API 구현
  backend/src/docs/asciidoc/auth.adoc
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthController.java
  backend/src/test/java/com/woowacourse/f12/acceptance/AuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthControllerTest.java
Labels: :desktop_computer: backend, :white_check_mark: feature-done, :key: auth

#616 [Feature/FE] Refresh Token 도입
  frontend/src/App.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/messages.ts
  frontend/src/contexts/LoginContextProvider.tsx
  frontend/src/hooks/api/useAxios.tsx
  frontend/src/hooks/api/useGet.tsx
  frontend/src/hooks/api/usePost.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useReviews.tsx
  frontend/src/hooks/useSessionStorage.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
  frontend/src/pages/common/RegisterIncompleteRoute/RegisterCompleteRoute.tsx
Labels: :computer: frontend, :key: auth

#623 [Bugfix] useSessionStorage 사용 삭제 및 cypress 오류 수정
  frontend/cypress/e2e/spec.cy.ts
  frontend/src/hooks/useInventory.tsx
Labels: :computer: frontend

#624 [BE] CORS 크레덴셜 추가
  backend/src/main/java/com/woowacourse/f12/config/WebConfig.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :key: auth

#625 [BugFix/BE] CORS 크레덴셜 추가
  backend/src/main/java/com/woowacourse/f12/config/WebConfig.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :key: auth

#626 [Chore/FE] 불필요한 웹팩 설정 제거
  frontend/webpack.common.js
Labels: :computer: frontend

#628 [Bugfix/FE] errorCode를 문자열로 수정
  frontend/src/constants/messages.ts
  frontend/src/hooks/api/useAxios.tsx
  frontend/src/mocks/handlers.ts
Labels: :wrench: fix_issue, :computer: frontend

#606 [BE/Feature] @BatchSize와 Fetch EAGER를 제거한다
  backend/src/main/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductService.java
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProduct.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProducts.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/test/java/com/woowacourse/f12/acceptance/InventoryProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/inventoryproduct/InventoryProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/MemberFixture.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :package: product, 🧑‍💻member, :briefcase: inventory

#617 [Feature/FE] Refresh Token 도입
  frontend/cypress/e2e/spec.cy.ts
  frontend/src/App.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/messages.ts
  frontend/src/contexts/LoginContextProvider.tsx
  frontend/src/hooks/api/useAxios.tsx
  frontend/src/hooks/api/useGet.tsx
  frontend/src/hooks/api/usePost.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useInventory.tsx
  frontend/src/hooks/useReviews.tsx
  frontend/src/hooks/useSessionStorage.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
  frontend/src/pages/common/RegisterIncompleteRoute/RegisterCompleteRoute.tsx
Labels: :computer: frontend, :key: auth

#630 [FE] SVG 오류 수정, 오류 이미지 위치 수정
  frontend/src/assets/empty.svg
  frontend/src/components/Product/ProductListSection/ProductListSection.style.tsx
  frontend/src/components/Product/ProductListSection/ProductListSection.tsx
  frontend/src/components/common/ErrorPlaceholder/ErrorPlaceholder.tsx
  frontend/src/components/common/NoDataPlaceholder/NoDataPlaceholder.tsx
Labels: :computer: frontend

#631 [BugFix/BE] CORS exposeHeaders에 Set-Cookie 추가
  backend/src/main/java/com/woowacourse/f12/config/WebConfig.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :key: auth

#632 [BugFix/BE] CORS exposeHeaders에 Set-Cookie 추가 (#631)
  backend/src/main/java/com/woowacourse/f12/config/WebConfig.java
  backend/src/test/java/com/woowacourse/f12/config/WebConfigTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :key: auth

#608 [Feature/BE] Review 페이징 조회 시 2N+1 문제 fetch join으로 해결
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepository.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :memo: review

#635 [BugFix/BE] cookie samesite none 설정
  backend/src/main/resources/application.yml
Labels: :wrench: fix_issue, :desktop_computer: backend, :key: auth

#636 [Bugfix/FE] inventory 훅에서 내 리뷰 목록 조회 시 토큰을 사용하도록 수정
  frontend/src/hooks/useInventory.tsx
Labels: :wrench: fix_issue, :computer: frontend

#638 [BugFix/BE] 쿠키 SameSite를 None으로 설정
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthController.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :key: auth

#639 [FE] 프로필 카드의 링크를 a 태그에서 Link 컴포넌트로 변경
  frontend/src/components/Profile/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
Labels: :wrench: fix_issue, :computer: frontend

#640 [Bugfix] 로그인 요청에 withCredential 설정을 추가
  frontend/src/hooks/api/useGet.tsx
  frontend/src/hooks/useAuth.tsx
Labels: :wrench: fix_issue, :computer: frontend

#641 [Bugfix/FE] 로그아웃 시에도 리프레시 토큰을 보내도록 withCredentials 설정
  frontend/src/hooks/useAuth.tsx
Labels: :wrench: fix_issue, :computer: frontend

#642 [Bugfix/FE] following 페이지가 비회원이 접근할 수 없도록 설정
  frontend/src/pages/index.tsx
Labels: :wrench: fix_issue, :computer: frontend

#643 [Feature/FE] 배포 전 개선 사항 적용 (버그 수정 및 개선)
  frontend/src/assets/empty.svg
  frontend/src/components/Product/ProductListSection/ProductListSection.style.tsx
  frontend/src/components/Product/ProductListSection/ProductListSection.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
  frontend/src/components/common/ErrorPlaceholder/ErrorPlaceholder.tsx
  frontend/src/components/common/NoDataPlaceholder/NoDataPlaceholder.tsx
  frontend/webpack.common.js
Labels: :computer: frontend

#645 [BugFIx/BE] 리프레시 토큰 set cookie 헤더에 path, samesite, max age 설정
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthController.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/RefreshTokenCookieProvider.java
  backend/src/test/java/com/woowacourse/f12/presentation/PresentationTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/RefreshTokenCookieProviderTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :key: auth

#646 [BE] Product의 formula 제거
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/product/Product.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/review/Review.java
  backend/src/main/java/com/woowacourse/f12/exception/internalserver/InvalidReflectReviewException.java
  backend/src/main/java/com/woowacourse/f12/exception/internalserver/SqlUpdateException.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductTest.java
Labels: :hammer: feature, :desktop_computer: backend

#614 [Feature/BE] Member의 followerCount의 `Formula`를 제거한다
  backend/src/docs/asciidoc/members.adoc
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/f12/exception/badrequest/InvalidFollowerCountException.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/support/fixture/MemberFixture.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, 🧑‍💻member

#650 [Feature/BE] 제품 페이징 조회 세컨더리 정렬 기준 추가 기능 (#649)
  backend/src/main/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolver.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
Labels: :desktop_computer: backend, :package: product, :white_check_mark: feature-done

#655 [FE] 리뷰 조회 시 정렬 조건 제거
  frontend/src/hooks/useInventory.tsx
  frontend/src/hooks/useReviews.tsx
Labels: :computer: frontend, :hammer_and_wrench: refactoring, :memo: review

#657 [BE] 프로덕트 검색 조회 쿼리를 개선한다
  backend/src/main/java/com/woowacourse/f12/application/product/ProductService.java
  backend/src/main/java/com/woowacourse/f12/application/review/ReviewService.java
  backend/src/main/java/com/woowacourse/f12/domain/product/Product.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepositoryCustom.java
  backend/src/main/java/com/woowacourse/f12/domain/product/ProductRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/domain/review/Review.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ProductAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/application/product/ProductServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/review/ReviewServiceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :package: product

#656 [Feature/FE] 리뷰 조회 시 정렬 조건 제거
  frontend/src/hooks/useInventory.tsx
  frontend/src/hooks/useReviews.tsx
Labels: :computer: frontend, :hammer_and_wrench: refactoring, :memo: review

#666 [Feature/BE] 리뷰 조회 시 커버링 인덱스를 사용한다
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepository.java
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepositoryCustom.java
  backend/src/main/java/com/woowacourse/f12/domain/review/ReviewRepositoryCustomImpl.java
  backend/src/test/java/com/woowacourse/f12/acceptance/ReviewAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
Labels: :desktop_computer: backend, :memo: review, :white_check_mark: feature-done

#667 [FE] 스프린트 5 배포 전 발견한 오류를 개선
  frontend/src/App.tsx
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.style.tsx
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.tsx
  frontend/src/components/common/NoDataPlaceholder/NoDataPlaceholder.tsx
  frontend/src/contexts/LoginContextProvider.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/hooks/useDebounce.tsx
  frontend/src/hooks/useLazyImage.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
  frontend/src/pages/common/PageLayout/PageLayout.tsx
  frontend/src/pages/common/UserRoutes/UserRoutes.tsx
Labels: :wrench: fix_issue, :computer: frontend

#672 [Hotfix] 토큰 silent refresh를 위한 오류 코드 수정
  frontend/src/hooks/api/useAxios.tsx
  frontend/src/mocks/handlers.ts
Labels: :computer: frontend, :fire: hotfix

#675 [Hotfix/BE] 로그아웃 시 팔로워 수가 초기화 되는 현상을 수정한다
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberTest.java
Labels: :desktop_computer: backend, :fire: hotfix, 🧑‍💻member

#676 [Hotfix/BE] 로그아웃 시 팔로워 수가 초기화 되는 현상을 수정한다
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/test/java/com/woowacourse/f12/acceptance/MemberAcceptanceTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberTest.java
Labels: :desktop_computer: backend, :fire: hotfix, 🧑‍💻member

#677 [BE] 스프린트5에 대한 버퍼를 진행한다
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustomImpl.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, 🧑‍💻member

#678 [BE] 스프린트5에 대한 버퍼를 진행한다
  backend/src/main/java/com/woowacourse/f12/application/member/MemberService.java
  backend/src/main/java/com/woowacourse/f12/domain/member/MemberRepositoryCustomImpl.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/MemberController.java
  backend/src/test/java/com/woowacourse/f12/application/member/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, 🧑‍💻member

#683 feat: WebClient를 HttpClient로 교체
  backend/build.gradle
  backend/src/main/java/com/woowacourse/f12/application/auth/GitHubOauthClient.java
  backend/src/main/java/com/woowacourse/f12/exception/internalserver/OauthProcessingException.java
  backend/src/test/java/com/woowacourse/f12/application/auth/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/f12/application/auth/GitHubOauthClientTest.java
  backend/src/test/java/com/woowacourse/f12/support/FakeGitHubApiController.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :key: auth

#685 [BE] DatabaseCleanup sql 생성 방식 변경
  backend/src/test/java/com/woowacourse/f12/acceptance/support/DatabaseCleanup.java
  backend/src/test/java/com/woowacourse/f12/acceptance/support/EscapeSqlUtil.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :chart_with_upwards_trend: test

#688 [BE] 각 도메인 테이블에 unique 제약 조건을 추가한다
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/members.adoc
  backend/src/docs/asciidoc/reviews.adoc
  backend/src/main/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProduct.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Following.java
  backend/src/main/java/com/woowacourse/f12/domain/member/Member.java
  backend/src/main/java/com/woowacourse/f12/domain/review/Review.java
  backend/src/main/java/com/woowacourse/f12/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/FollowingRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring

#692 [Hotfix/FE] 깃허브 프로필 링크 오류 수정
  frontend/src/components/Profile/ProfileCard/ProfileCard.style.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
Labels: :computer: frontend, :fire: hotfix

#695 [BE] local 환경에서 repository test 시 쿼리 로그가 2번 남는 현상 수정
  backend/src/main/resources/application.yml
  backend/src/main/resources/log4j2/log4j2-local.xml
  backend/src/test/java/com/woowacourse/f12/domain/inventoryproduct/InventoryProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/FollowingRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/member/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/product/ProductRepositoryTest.java
  backend/src/test/java/com/woowacourse/f12/domain/review/ReviewRepositoryTest.java
Labels: :wrench: fix_issue, :desktop_computer: backend, 👁 log

#700 [FE] 타입 리팩토링
  frontend/src/components/Profile/ProfileCard/ProfileCard.tsx
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.tsx
  frontend/src/components/common/BarGraph/BarGraph.tsx
  frontend/src/components/common/Chip/Chip.tsx
  frontend/src/components/common/ChipFilter/ChipFilter.tsx
  frontend/src/components/common/SectionHeader/SectionHeader.tsx
  frontend/src/constants/header.ts
  frontend/src/constants/profile.ts
  frontend/src/hooks/useUrlSyncState.tsx
  frontend/src/pages/Products/Products.tsx
  frontend/src/pages/ProfileSearch/ProfileSearch.tsx
  frontend/src/types/api.d.ts
  frontend/src/types/auth.d.ts
  frontend/src/types/product.d.ts
  frontend/src/types/profile.d.ts
  frontend/src/types/review.d.ts
Labels: :computer: frontend, :hammer_and_wrench: refactoring

#702 [BE] Github Oauth 요청 시 Accept 헤더를 추가한다.
  backend/src/main/java/com/woowacourse/f12/application/auth/GitHubOauthClient.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :key: auth

#703 [BugFix/BE] Github Oauth 요청 시 Accept 헤더를 추가한다.
  backend/src/main/java/com/woowacourse/f12/application/auth/GitHubOauthClient.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :key: auth

#705 [BugFix/BE] Github Oauth의 응답값이 DTO 필드에 존재하지 않는 경우 매핑 될 수 있도록 수정
  backend/src/main/java/com/woowacourse/f12/application/auth/GitHubOauthClient.java
  backend/src/main/java/com/woowacourse/f12/dto/response/auth/GitHubProfileResponse.java
  backend/src/main/java/com/woowacourse/f12/dto/response/auth/GitHubTokenResponse.java
  backend/src/main/java/com/woowacourse/f12/exception/internalserver/OauthJsonParsingException.java
Labels: :wrench: fix_issue, :desktop_computer: backend, :key: auth
