Repository woowacourse-teams/2022-f12, pull requests merged in 2022-11, with the labels that each got.

#861 [BE] MySQL 환경에서 FK 설정으로 인한 제품에 대한 리뷰 생성시 발생하는 동시성 이슈를 해결한다
  backend/src/main/resources/db/migration/V1_0__init.sql
  backend/src/main/resources/db/migration/V6_0__remove_fk_constraint_review_and_product.sql
  backend/src/main/resources/db/migration/V6_1__remove_fk_constraint_inventory_product_and_product.sql
Labels: :wrench: fix_issue, :desktop_computer: backend, :memo: review, 📦 DB

#866 [Bugfix/FE] ts-loader, fork-ts-checker 플러그인을 devDeps => deps로 변경
  frontend/package.json
Labels: :wrench: fix_issue, :computer: frontend

#862 [Bugfix/BE] MySQL 환경에서 FK 설정으로 인한 제품에 대한 리뷰 생성시 발생하는 동시성 이슈를 해결
  backend/src/main/resources/db/migration/V1_0__init.sql
  backend/src/main/resources/db/migration/V6_0__remove_fk_constraint_review_and_product.sql
  backend/src/main/resources/db/migration/V6_1__remove_fk_constraint_inventory_product_and_product.sql
Labels: :wrench: fix_issue, :desktop_computer: backend, :memo: review, 📦 DB

#869 [FE] 스프린트 종료 전 리팩토링
  frontend/babel.config.json
  frontend/src/components/Product/ProductCard/ProductCard.stories.tsx
  frontend/src/components/Product/ProductDetail/ProductDetail.stories.tsx
  frontend/src/components/Product/ProductListSection/ProductListSection.stories.tsx
  frontend/src/components/Profile/ProfileCard/ProfileCard.stories.tsx
  frontend/src/components/Profile/ProfileSearchResult/ProfileSearchResult.stories.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.stories.tsx
  frontend/src/components/Review/ReviewListSection/ReviewListSection.stories.tsx
  frontend/src/hooks/api/axiosInstance.ts
  frontend/src/index.tsx
  frontend/src/mocks/data.ts
  frontend/src/mocks/data/inventoryProducts.ts
  frontend/src/mocks/data/member.ts
  frontend/src/mocks/data/products.ts
  frontend/src/mocks/data/reviews.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/mocks/handlers/inventoryProducts.ts
  frontend/src/mocks/handlers/members.ts
  frontend/src/mocks/handlers/products.ts
  frontend/src/mocks/handlers/reviews.ts
  frontend/webpack.common.js
  frontend/webpack.prod.js
Labels: :gear: infra, :computer: frontend, :hammer_and_wrench: refactoring

#871 [FE] API 캐시 타임 수정
  frontend/src/constants/cache.ts
  frontend/src/contexts/CacheContextProvider.tsx
Labels: :computer: frontend

#873 [FE] 불필요한 tsconfig 설정 제거
  frontend/tsconfig.json
Labels: :computer: frontend, :hammer_and_wrench: refactoring

#875 [Refactor/FE] 불필요한 babel cli 패키지 제거
  frontend/package-lock.json
  frontend/package.json
Labels: :gear: infra, :computer: frontend, :hammer_and_wrench: refactoring

#879 [Refactor/BE] sonarqube 설정 제거
  .github/workflows/backend.yml
Labels: :gear: infra, :desktop_computer: backend

#874 [Refactor/FE] 리뷰 카드를 복합 컴포넌트로 분리
  frontend/src/components/Review/ReviewCard/ReviewCard.stories.tsx
  frontend/src/components/Review/ReviewCard/ReviewCard.tsx
  frontend/src/components/Review/ReviewListSection/ReviewListSection.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Profile/Profile.tsx
Labels: :computer: frontend, :hammer_and_wrench: refactoring

#881 [Refactor/BE] PresentationTest application context 통합으로 테스트 실행 속도 개선
  backend/src/test/java/com/woowacourse/f12/presentation/CustomPageableArgumentResolverTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/PresentationTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/UrlLengthCheckInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/AuthInterceptorTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/member/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/product/ProductControllerTest.java
  backend/src/test/java/com/woowacourse/f12/presentation/review/ReviewControllerTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring, :chart_with_upwards_trend: test

#878 [Refactor/BE] 불필요한 ResponseEntity 제거
  backend/src/main/java/com/woowacourse/f12/presentation/GlobalExceptionHandler.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/AuthController.java
  backend/src/main/java/com/woowacourse/f12/presentation/auth/RefreshTokenCookieProvider.java
  backend/src/main/java/com/woowacourse/f12/presentation/inventoryproduct/InventoryProductController.java
  backend/src/main/java/com/woowacourse/f12/presentation/member/MemberController.java
  backend/src/main/java/com/woowacourse/f12/presentation/product/ProductController.java
  backend/src/main/java/com/woowacourse/f12/presentation/review/ReviewController.java
  backend/src/test/java/com/woowacourse/f12/presentation/auth/RefreshTokenCookieProviderTest.java
Labels: :desktop_computer: backend, :hammer_and_wrench: refactoring
